<h6 class="header">Select Payment Method</h6>
<div class="col-12 methodItem">
    <button @onclick="@(() => ToggleCounterVisibility("deposit-counter"))" id="deposit-counter" class="bg-transparent border-0 w-100">
        <div class="payment-select-wrapper">
            <div class="payment-icon">
                <img src="./img/goPlayAsia-logo.png" class="img logo" />
            </div>
            <div class="payment-selection">
                <div class="payment-select-helper-text">
                    <p class="mb-0 d-flex"><b class="h4 fw-bold mb-0">GoPlayAsia</b></p>
                    <p class="mb-0 text-muted d-flex wallet-subMenu">Deposit using Over the counter</p>
                </div>
            </div>
            <div class="btnWrapper h5 text-muted">
                <i class="fa-solid fa-angle-right @ToggleArrowClass("deposit-counter")" @onclick:stopPropagation="true"></i>
            </div>
        </div>
    </button>
    <div class="container border pb-3 mt-2 rounded-3 @counterClass("deposit-counter")">
        <h6 class="pt-3">Choose Amount</h6>
        <div class="container-fluid p-0 mb-2 text-center">
            <button @onclick="() => SetOtherAmount(100)" class="btn btn-gpa-outline fw-bold m-1">100</button>
            <button @onclick="() => SetOtherAmount(200)" class="btn btn-gpa-outline fw-bold m-1">200</button>
            <button @onclick="() => SetOtherAmount(300)" class="btn btn-gpa-outline fw-bold m-1">300</button>
            <button @onclick="() => SetOtherAmount(500)" class="btn btn-gpa-outline fw-bold m-1">500</button>
            <button @onclick="() => SetOtherAmount(800)" class="btn btn-gpa-outline fw-bold m-1">8000</button>
            <button @onclick="() => SetOtherAmount(1000)" class="btn btn-gpa-outline fw-bold m-1">1,000</button>
            <button @onclick="() => SetOtherAmount(1500)" class="btn btn-gpa-outline fw-bold m-1">1,500</button>
            <button @onclick="() => SetOtherAmount(2000)" class="btn btn-gpa-outline fw-bold m-1">2,000</button>
            <button @onclick="() => SetOtherAmount(3000)" class="btn btn-gpa-outline fw-bold m-1">3,000</button>
            <button @onclick="() => SetOtherAmount(3500)" class="btn btn-gpa-outline fw-bold m-1">3,500</button>
            <button @onclick="() => SetOtherAmount(4000)" class="btn btn-gpa-outline fw-bold m-1">4,000</button>
            <button @onclick="() => SetOtherAmount(5000)" class="btn btn-gpa-outline fw-bold m-1">5,000</button>
        </div>
        <div class="col-12 input-wrapper">
            <div class="text-field-container">
                <div class="form-group col-12 mt-2 mb-2 input-gpa">
                    <input @bind="otherAmountValue" type="number" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="Other Amunt (Php 100 - 50,000.00)">
                </div>
                <button class="col-12 btn btn-gpa fw-bold" disabled="@string.IsNullOrWhiteSpace(otherAmountValue)">
                    Cash-Out&nbsp;
                    <span class="otherAmount">Php @otherAmountValue</span>
                    &nbsp;now
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-12 methodItem">
    <button @onclick="@(() => ToggleCounterVisibility("deposit-instapay"))" id="deposit-instapay" class="bg-transparent border-0 w-100">
        <div class="payment-select-wrapper">
            <div class="payment-icon">
                <img src="./img/instaPay-logo.png" class="img logo" />
            </div>
            <div class="payment-selection">
                <div class="payment-select-helper-text">
                    <p class="mb-0 d-flex"><b class="h4 fw-bold mb-0">InstaPay</b></p>
                    <p class="mb-0 text-muted d-flex wallet-subMenu">Deposit using InstaPay</p>
                </div>
            </div>
            <div class="btnWrapper h5 text-muted">
                <i class="fa-solid fa-angle-right @ToggleArrowClass("deposit-instapay")" @onclick:stopPropagation="true"></i>
            </div>
        </div>
    </button>
    <div class="container border pb-3 mt-2 rounded-3 @counterClass("deposit-instapay")">
        <h6 class="pt-3">Choose Amount</h6>
        <div class="container-fluid p-0 mb-2 text-center">
            <button @onclick="() => SetOtherAmount(100)" class="btn btn-gpa-outline fw-bold m-1">100</button>
            <button @onclick="() => SetOtherAmount(200)" class="btn btn-gpa-outline fw-bold m-1">200</button>
            <button @onclick="() => SetOtherAmount(300)" class="btn btn-gpa-outline fw-bold m-1">300</button>
            <button @onclick="() => SetOtherAmount(500)" class="btn btn-gpa-outline fw-bold m-1">500</button>
            <button @onclick="() => SetOtherAmount(800)" class="btn btn-gpa-outline fw-bold m-1">8000</button>
            <button @onclick="() => SetOtherAmount(1000)" class="btn btn-gpa-outline fw-bold m-1">1,000</button>
            <button @onclick="() => SetOtherAmount(1500)" class="btn btn-gpa-outline fw-bold m-1">1,500</button>
            <button @onclick="() => SetOtherAmount(2000)" class="btn btn-gpa-outline fw-bold m-1">2,000</button>
            <button @onclick="() => SetOtherAmount(3000)" class="btn btn-gpa-outline fw-bold m-1">3,000</button>
            <button @onclick="() => SetOtherAmount(3500)" class="btn btn-gpa-outline fw-bold m-1">3,500</button>
            <button @onclick="() => SetOtherAmount(4000)" class="btn btn-gpa-outline fw-bold m-1">4,000</button>
            <button @onclick="() => SetOtherAmount(5000)" class="btn btn-gpa-outline fw-bold m-1">5,000</button>
        </div>
        <div class="col-12 input-wrapper">
            <div class="text-field-container">
                <div class="form-group col-12 mt-2 mb-2 input-gpa">
                    <input @bind="otherAmountValue" type="number" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="Other Amunt (Php 100 - 50,000.00)">
                </div>
                <button class="col-12 btn btn-gpa fw-bold" disabled="@string.IsNullOrWhiteSpace(otherAmountValue)">
                    Cash-Out&nbsp;
                    <span class="otherAmount">Php @otherAmountValue</span>
                    &nbsp;now
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-12 methodItem">
    <button @onclick="@(() => ToggleCounterVisibility("deposit-gCash"))" id="deposit-gCash" class="bg-transparent border-0 w-100">
        <div class="payment-select-wrapper">
            <div class="payment-icon">
                <img src="./img/GCash-logo.png" class="img logo" />
            </div>
            <div class="payment-selection">
                <div class="payment-select-helper-text">
                    <p class="mb-0 d-flex"><b class="h4 fw-bold mb-0">GCash</b></p>
                    <p class="mb-0 text-muted d-flex wallet-subMenu">Deposit using GCash</p>
                </div>
            </div>
            <div class="btnWrapper h5 text-muted">
                <i class="fa-solid fa-angle-right @ToggleArrowClass("deposit-gCash")" @onclick:stopPropagation="true"></i>
            </div>
        </div>
    </button>
    <div class="container border pb-3 mt-2 rounded-3 @counterClass("deposit-gCash")">
        <h6 class="pt-3">Choose Amount</h6>
        <div class="container-fluid p-0 mb-2 text-center">
            <button @onclick="() => SetOtherAmount(100)" class="btn btn-gpa-outline fw-bold m-1">100</button>
            <button @onclick="() => SetOtherAmount(200)" class="btn btn-gpa-outline fw-bold m-1">200</button>
            <button @onclick="() => SetOtherAmount(300)" class="btn btn-gpa-outline fw-bold m-1">300</button>
            <button @onclick="() => SetOtherAmount(500)" class="btn btn-gpa-outline fw-bold m-1">500</button>
            <button @onclick="() => SetOtherAmount(800)" class="btn btn-gpa-outline fw-bold m-1">8000</button>
            <button @onclick="() => SetOtherAmount(1000)" class="btn btn-gpa-outline fw-bold m-1">1,000</button>
            <button @onclick="() => SetOtherAmount(1500)" class="btn btn-gpa-outline fw-bold m-1">1,500</button>
            <button @onclick="() => SetOtherAmount(2000)" class="btn btn-gpa-outline fw-bold m-1">2,000</button>
            <button @onclick="() => SetOtherAmount(3000)" class="btn btn-gpa-outline fw-bold m-1">3,000</button>
            <button @onclick="() => SetOtherAmount(3500)" class="btn btn-gpa-outline fw-bold m-1">3,500</button>
            <button @onclick="() => SetOtherAmount(4000)" class="btn btn-gpa-outline fw-bold m-1">4,000</button>
            <button @onclick="() => SetOtherAmount(5000)" class="btn btn-gpa-outline fw-bold m-1">5,000</button>
        </div>
        <div class="col-12 input-wrapper">
            <div class="text-field-container">
                <div class="form-group col-12 mt-2 mb-2 input-gpa">
                    <input @bind="otherAmountValue" type="number" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="Other Amunt (Php 100 - 50,000.00)">
                </div>
                <button class="col-12 btn btn-gpa fw-bold" disabled="@string.IsNullOrWhiteSpace(otherAmountValue)">
                    Cash-Out&nbsp;
                    <span class="otherAmount">Php @otherAmountValue</span>
                    &nbsp;now
                </button>
            </div>
        </div>
    </div>
</div>
@code {
    Dictionary<string, bool> showCounterDict = new Dictionary<string, bool>();
    string otherAmountValue = "";

    bool GetShowCounter(string id)
    {
        if (!showCounterDict.ContainsKey(id))
        {
            showCounterDict.Add(id, false);
        }
        return showCounterDict[id];
    }
    string counterClass(string id) => GetShowCounter(id) ? "" : "hide";
    string ToggleArrowClass(string id) => GetShowCounter(id) ? "arrow-down" : "arrow-right";
    void ToggleCounterVisibility(string id)
    {
        if (!showCounterDict.ContainsKey(id))
        {
            showCounterDict.Add(id, false);
        }
        showCounterDict[id] = !showCounterDict[id];
    }

    void SetOtherAmount(int amount)
    {
        otherAmountValue = amount.ToString();
    }

}