
@using GoPlayAsiaWebApp.Goplay.ViewModels
@using static GoplayasiaBlazor.Models.Constants.Settings
@inject IToastService toastService;
@inject BigWinViewModel iBigWinViewModel

<section class="container p-0">
    <Generator JackpotPrize="@JackpotPrize"
               MiniJackpotPrize="@MiniJackpotPrize"
               ConsolationPrize="@ConsolationPrize"
               LetterValue="@iBigWinViewModel.LetterValue" />

    <CombiDisplay LetterValue1="@iBigWinViewModel.LetterValue1"
                  LetterValue2="@iBigWinViewModel.LetterValue2"
                  LetterValue3="@iBigWinViewModel.LetterValue3"
                  LetterValue4="@iBigWinViewModel.LetterValue4"
                  LetterValue5="@iBigWinViewModel.LetterValue5"
                  RoundStatusString="@RoundStatusString"
                  PreLetterValue="@iBigWinViewModel.PreLetterValue" />

    <LetterButtons TotalBets="@TotalBets" />
</section>
