
<div class="creditContainer">
    <h4 class="text-center mt-2 mb-0 text-dark">Add Credits</h4>
    <p class="text-center text-dark mb-1">select your payment method</p>

    <!-- MENU -->
    <div class="d-flex optionBtn">
        @if (_mainCreditsViewModel.CashInSettings.PaymentGateway)
        {
            <div class="creditContainerpg col p-0 mt-2" hidden="@hideUBAddCreditbtn">
                <div class="PaymentGateWayCon pl-1 pr-1 ">
                    <a href="" @onclick:preventDefault @onclick='(() => showUBAddCreditForm())'>
                        <div class="addCredit ">
                            <div class="d-block justify-content-center">
                                <img class="imgLogo m-1 " src="/img/cash-pgw.png" style="height:60px;" />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
  @*       @if (_mainCreditsViewModel.CashInSettings.OTC)
        {
            <div class="overthecounterBtn col p-0  mt-2" hidden="@hideAddCreditbtn">
                <a href="" @onclick:preventDefault @onclick='(() => showAddCreditForm())'>
                    <div class="addCredit mt-1 p-2">
                        <img class="imgLogo" src="/img/cashin-gpaIcon.png" />
                        <h5 class="headerText active mb-0" style="color:#530c0c; font-size:15px; margin-top: 5px;">Over the counter</h5>

                    </div>
                </a>
            </div>
        } *@
    </div>

    <!-- CASH IN FORM -->
    <!-- UPAY -->
    @* <form hidden="@hideUBAddCredit"> *@
    <form hidden ="@hideUBAddCredit">

        <!-- DEFAULT AMOUNT -->
        <TopupDefaultAmount OnClickCallback="@(() => UpdateState())"/>

        <!-- AMOUNT -->
        <div class="form-group pesoContainer mb-3">
            <input class="form-control pl-4 input-lg" type="number" placeholder="Input Other Amount (@($"{String.Format("{0:#,##0.#}", _mainCreditsViewModel.TopupMinAmount)} - {String.Format("{0:#,##0.#}", _mainCreditsViewModel.TopupMaxAmount)}"))" @bind-value="_mainCreditsViewModel.TopupUBAmount" onfocus="this.select()" maxlength="9" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
        </div>


        <!-- APPLICABLE VOUCHER -->
        @if (_mainCreditsViewModel.activeVoucher is not null)
        {
            <Voucher activeVoucher=_mainCreditsViewModel.activeVoucher Amount=@(_mainCreditsViewModel.TopupUBAmount is null ? 0 : _mainCreditsViewModel.TopupUBAmount.Value) />
        }

        <!-- SUBMIT BUTTON -->
        <input class="addCredit-submit btn mb-2" type="button" @onclick="RequestTopupUBCredit" value="Submit" />
    </form>

    <!-- OVER THE COUNTER -->
    <form hidden="@hideAddCredit">

        <!-- DEFAULT AMOUNT -->
        <TopupDefaultAmount OnClickCallback="@(() => UpdateState())"/>

        <!-- AGENT USERNAME -->
        <div class="form-group">
            <input class="form-control" type="text" aria-describedby="emailHelp" placeholder="AgentXXX" value="@_mainCreditsViewModel.UserParentDtl.Username" disabled />
        </div>

        <!-- AMOUNT -->
        <div class="form-group pesoContainer mt-3 inner-addon left-addon">
            <span class="peso">&#8369;</span>
            <input autocomplete="stopdoingthat" class="form-control pl-4 input-lg  " type="number" placeholder="Input Other Amount (500-10,000)" @bind-value="_mainCreditsViewModel.TopupAmount" onfocus="this.select()"
                   maxlength="9" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
        </div>

        <!-- APPLICABLE VOUCHER -->
        @if (_mainCreditsViewModel.activeVoucher is not null)
        {
            <Voucher activeVoucher=_mainCreditsViewModel.activeVoucher Amount=_mainCreditsViewModel.TopupAmount />
        }

        <!-- SUBMIT BUTTON -->
        <input class="addCredit-submit btn btn-primary mb-2" type="button" @onclick="RequestTopupCredit" value="Submit" />
    </form>

    <!-- GOPLAY ASIA GCASH -->
    @if (_mainCreditsViewModel.CashInSettings.GoplayAsia)
    {
        <form hidden="@hideAddCreditGPA">
            <div class="form-group m-1">
                <h6 class="topUpMEssage text-light">Topups are processed at a minimum of 24 hours.</h6>
            </div>

            <div>
                <h6 class="text-center text-light m-2">Minimum: &#8369;@String.Format("{0:#,##0.#}", @_mainCreditsViewModel.TopupMinAmountDisplay) - Maximum: &#8369;@String.Format("{0:#,##0.#}",@_mainCreditsViewModel.TopupMaxAmount)</h6>
            </div>

            <!-- AMOUNT -->
            <div class="form-group pesoContainer">
                <span class="peso">&#8369;</span>
                <input autocomplete="stopdoingthat" class="form-control pl-4 input-lg" type="number" placeholder="Enter Amount (500-10,000)" @bind-value="_mainCreditsViewModel.TopupAmountGPA" onfocus="this.select()" maxlength="9" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
            </div>
            
            <!-- PASSWORD 
            <div class="eyeContainer mt-3 mb-3 inner-addon right-addon">
                <span class="eye @showpassicon" @onclick="ShowPassword"></span>
                <input class="form-control" type="@showpass" placeholder="Password" @bind-value="_mainCreditsViewModel.TopupPasswordGPA" />
            </div> -->

            <!-- APPLICABLE VOUCHER -->
            @if (_mainCreditsViewModel.activeVoucher is not null)
            {
                <Voucher activeVoucher=_mainCreditsViewModel.activeVoucher Amount=_mainCreditsViewModel.TopupAmountGPA />
            }

            <!-- SUBMIT BUTTON -->
            <input class="addCredit-submit btn btn-primary" type="button" value="Submit" @onclick="RequestTopupGPACredit" />
        </form>
    }

</div>
