@using GoplayasiaBlazor.Models;
@using GoPlayAsiaWebApp.Goplay.ViewModels;
@using GoPlayAsiaWebApp.Goplay.ViewModels;
@inject Lucky4V2ViewModel iLucky4Model;

@* green-chip, red-chip, blue-chip *@
<div id="betTokenContainer" class="container p-0 betTokenContainer @(IsDisabled ? "chipsDisabled" : "") @(IsEnabled_First2 ? "green-chip" : "") @(IsEnabled_First3 ? "blue-chip" : "") @(IsEnabled_All4 ? "red-chip" : "")">
    @if (GameChips != null)
    {
        <div class="d-flex align-items-center justify-content-center pr-1 pl-1 mt-1">
            @if (GameChips.Chip1 > 0)
            {
                <a class="d-flex text-center justify-content-center selectedToken @(iLucky4Model.SelectedChipAmount == GameChips.Chip1 ? "imgContainerSelected" : "imgContainer")" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip1))'>
                    <span>@GameChips.Chip1Display</span>
                </a>
            }
            @if (GameChips.Chip2 > 0)
            {
                <a class="d-flex text-center justify-content-center selectedToken @(iLucky4Model.SelectedChipAmount == GameChips.Chip2 ? "imgContainerSelected" : "imgContainer")" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip2))'>
                    <span>@GameChips.Chip2Display</span>
                </a>
            }
            @if (GameChips.Chip3 > 0)
            {
                <a class="d-flex text-center justify-content-center selectedToken @(iLucky4Model.SelectedChipAmount == GameChips.Chip3 ? "imgContainerSelected" : "imgContainer")" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip3))'>
                    <span>@GameChips.Chip3Display</span>
                </a>
            }
            @if (GameChips.Chip4 > 0)
            {
                <a class="d-flex text-center justify-content-center selectedToken @(iLucky4Model.SelectedChipAmount == GameChips.Chip4 ? "imgContainerSelected" : "imgContainer")" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip4))'>
                    <span>@GameChips.Chip4Display</span>
                </a>
            }
            @if (GameChips.Chip5 > 0)
            {
                <a class="d-flex text-center justify-content-center selectedToken @(iLucky4Model.SelectedChipAmount == GameChips.Chip5 ? "imgContainerSelected" : "imgContainer")" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip5))'>
                    <span>@GameChips.Chip5Display</span>
                </a>
            }
        </div>
        <div class="d-flex align-items-center justify-content-center pr-1 pl-1 mt-1">
            @if (GameChips.Chip6 > 0)
            {
                <a class="d-flex text-center justify-content-center selectedToken @(iLucky4Model.SelectedChipAmount == GameChips.Chip6 ? "imgContainerSelected" : "imgContainer")" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip6))'>
                    <span>@GameChips.Chip6Display</span>
                </a>
            }
            @if (GameChips.Chip7 > 0)
            {
                <a class="d-flex text-center justify-content-center selectedToken @(iLucky4Model.SelectedChipAmount == GameChips.Chip7 ? "imgContainerSelected" : "imgContainer")" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip7))'>
                    <span>@GameChips.Chip7Display</span>
                </a>
            }
            @if (GameChips.Chip8 > 0)
            {
                <a class="d-flex text-center justify-content-center selectedToken @(iLucky4Model.SelectedChipAmount == GameChips.Chip8 ? "imgContainerSelected" : "imgContainer")" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip8))'>
                    <span>@GameChips.Chip8Display</span>
                </a>
            }
            @if (GameChips.Chip9 > 0)
            {
                <a class="d-flex text-center justify-content-center selectedToken @(iLucky4Model.SelectedChipAmount == GameChips.Chip9 ? "imgContainerSelected" : "imgContainer")" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip9))'>
                    <span>@GameChips.Chip9Display</span>
                </a>
            }
            @if (GameChips.Chip10 > 0)
            {
                <a class="d-flex text-center justify-content-center selectedToken @(iLucky4Model.SelectedChipAmount == GameChips.Chip10 ? "imgContainerSelected" : "imgContainer")" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip10))'>
                    <span>@GameChips.Chip10Display</span>
                </a>
            }
        </div>
    }
</div>

@code {
    [Parameter] public GameChipModel? GameChips { get; set; }
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public bool IsEnabled_First2 { get; set; } = false;
    [Parameter] public bool IsEnabled_First3 { get; set; } = false;
    [Parameter] public bool IsEnabled_All4 { get; set; } = false;

    private async Task SetBetAmount(int? param, string? multipler = "")
    {
        await iLucky4Model.SetBetAmount(param, multipler);
    }
}