@using static GoplayasiaBlazor.Models.Constants.Settings;
@using GoPlayAsiaWebApp.Goplay.ViewModels;
@using GoPlayAsiaWebApp.Goplay.ViewModels;
@inject BigWinViewModel iBigWinViewModel;


<div id="placeHolderContainer" class="selectedCombiPlaceHolder d-flex justify-content-center pb-1">
    <div class="blockContainer1">
        <div class="selectedPlaceholder1 d-flex justify-content-center ">
            <div class="selCombi1 d-flex align-items-center justify-content-center">

                @if (LetterValue1 != String.Empty)
                {
                    @LetterValue1
                }
                else if (PreLetterValue.Length > 0)
                {
                    @PreLetterValue.Substring(0, 1)
                }

            </div>
        </div>
        <div class="traiangel">
            <img src="/img/BW-images/bw1.png" />
        </div>
    </div>


    <div class="blockContainer1">
        <div class="selectedPlaceholder1 d-flex justify-content-center ">
            <div class="selCombi1 d-flex align-items-center justify-content-center">
                @if (LetterValue2 != String.Empty)
                {
                    @LetterValue2
                }
                else if (PreLetterValue.Length > 1)
                {
                    @PreLetterValue.Substring(1, 1)
                }
            </div>
        </div>
        <div class="traiangel">
            <img src="/img/BW-images/bw2.png" />
        </div>
    </div>
    <div class="blockContainer1">
        <div class="selectedPlaceholder1 d-flex justify-content-center ">
            <div class="selCombi1 d-flex align-items-center justify-content-center">
                @if (LetterValue3 != String.Empty)
                {
                    @LetterValue3
                }
                else if (PreLetterValue.Length > 2)
                {
                    @PreLetterValue.Substring(2, 1)
                }
            </div>
        </div>
        <div class="traiangel">
            <img src="/img/BW-images/bw3.png" />
        </div>
    </div>
    <div class="blockContainer1">
        <div class="selectedPlaceholder1 d-flex justify-content-center ">
            <div class="selCombi1 d-flex align-items-center justify-content-center">
                @if (LetterValue4 != String.Empty)
                {
                    @LetterValue4
                }
                else if (PreLetterValue.Length > 3)
                {
                    @PreLetterValue.Substring(3, 1)
                }
            </div>
        </div>
        <div class="traiangel">
            <img src="/img/BW-images/bw4.png" />
        </div>
    </div>
    <div class="blockContainer1">
        <div class="selectedPlaceholder1 d-flex justify-content-center ">
            <div class="selCombi1 d-flex align-items-center justify-content-center">
                @if (LetterValue5 != String.Empty)
                {
                    @LetterValue5
                }
                else if (PreLetterValue.Length > 4)
                {
                    @PreLetterValue.Substring(4, 1)
                }
            </div>
        </div>
        <div class="traiangel">
            <img src="/img/BW-images/bw5.png" />
        </div>
    </div>
</div>



@code {
    [Parameter] public string RoundStatusString { get; set; }

    [Parameter] public string LetterValue1 { get; set; } = "";

    [Parameter] public string LetterValue2 { get; set; } = "";

    [Parameter] public string LetterValue3 { get; set; } = "";

    [Parameter] public string LetterValue4 { get; set; } = "";

    [Parameter] public string LetterValue5 { get; set; } = "";

    [Parameter] public string PreLetterValue { get; set; } = "";
}