@page "/games/lucky4"
@layout GPALayout
@using GoPlayAsiaWebApp.Goplay.Games.Lucky4.L4_Components
@using GoPlayAsiaWebApp.Goplay.Games.Shared
@using GoPlayAsiaWebApp.Shared
@using static GoplayasiaBlazor.Models.Constants.Settings
@attribute [Authorize(Roles = "1")]

@implements IAsyncDisposable

<GameHeader StreamId="@iLucky4Model.StreamId"
            RoundTimer="@iLucky4Model.RoundTimer"
            RoundStatusString="@iLucky4Model.RoundStatusString"
            RoundNumber="@iLucky4Model.RoundNumber"
            TimerBackground="@iLucky4Model.RoundStatusColor"
            GameResultString="@iLucky4Model.GameResultString"
            ShowFlashing="@iLucky4Model.ShowFlashing"
            CreditsDisp="@iLucky4Model._icurrentUser.CreditsDisp"
            PlayerCategory="@iLucky4Model.PlayerCategory"
            OnClickCallback="@(() => setGameChips())"
            Token="@iLucky4Model.streamKey"
            GifSrc="@iLucky4Model.L4gif"
            IsDisabledCategory="false"
            MaxRoundTimer="@(iLucky4Model.GameSetting != null ? iLucky4Model.GameSetting.BettingDuration  : 0)" />


<div id="@(iLucky4Model.RoundStatusString == Constants.Open ? "" : "closedBet")" class="mainContainer" style="max-width: 640px; margin: 0 auto;">
    <Lucky4MainBet GameChips="@iLucky4Model.GameChips"
                   RoundStatusString="@iLucky4Model.RoundStatusString"
                   RoundNumber="@iLucky4Model.RoundNumber"
                   LetterValue="@iLucky4Model.LetterValue"
                   TotalAccumulatedBetsString="@iLucky4Model.TotalAccumulatedBetsString"
                   LetterValue1="@iLucky4Model.LetterValue1"
                   LetterValue2="@iLucky4Model.LetterValue2"
                   LetterValue3="@iLucky4Model.LetterValue3"
                   LetterValue4="@iLucky4Model.LetterValue4"
                   UserBets_F2="@iLucky4Model.UserBets_F2"
                   UserBets_F3="@iLucky4Model.UserBets_F3"
                   UserBets_All4="@iLucky4Model.UserBets_All4"
                   PrevGameRound="@iLucky4Model.PrevGameRound"
                   IsPrevious=false />

    <CurrentPrevBets L4UserBets="@iLucky4Model.UserBets" RoundStatusString="@iLucky4Model.RoundStatusString" L4PreviousBets="@iLucky4Model.PreviousBets" CurrView="@iLucky4Model.CurrView" />

    <Lucky4Trends TrendsDisplay="@iLucky4Model.TrendsDisplay" RoundStatusString="@iLucky4Model.RoundStatusString" GameResultString="@iLucky4Model.GameResult" />
</div>