@using GoPlayAsiaWebApp.Goplay.Games.First3.Components
@using GoPlayAsiaWebApp.Goplay.ViewModels
@using GoplayasiaBlazor.Models.Constants
@inject First3ViewModel first3ViewModel;
@inject IToastService toastService;


<marquee class="text-light d-flex justify-content-center font-weight-bolder" style="font-size: 15px; padding: 2px 0; line-height: normal">WELCOME TO FIRST 3 CARD GAME @first3ViewModel.TickerMessage </marquee>



<div class="mainContainer row d-block" style="line-height: normal">
    <div class="col row1 p-0 d-flex text-light ">

        <!-- GOLD REGULAR -->
        <MainBetSelection BetValueDisplay="@Settings.Constants.Gold"
                          ShowTotalBets="@first3ViewModel.ShowTotalBets"
                          FixedPriceGoldTotalBets="@FixedPriceGoldTotalBets"
                          SampleWinFixedPrizeGold="@SampleWinFixedPrizeGold"
                          FixedPriceGoldMultiplier="@FixedPriceGoldMultiplier"
                          FixedPriceSilverTotalBets="@FixedPriceSilverTotalBets"
                          SampleWinFixedPrizeSilver="@SampleWinFixedPrizeSilver"
                          FixedPriceSilverMultipler="@FixedPriceSilverMultipler"
                          RoundStatusString="@RoundStatusString"
                          UserTotalBet_FixedPrizeGold="@first3ViewModel.UserTotalBet_FixedPrizeGold"
                          OnClickCallback="@(() => SelectBetType((int)@Settings.F3MainBetTypes.Gold))"
                          activeButtonGold="@activeButtonGold"
                          WinnerResults="@first3ViewModel.GameResultString"
                          isDisabled="@first3ViewModel.isbuttonDisabled" />

        <!-- MONKEY ANIMATION -->
        @if (RoundStatusString == Settings.Constants.Open)
        {
            <div class="col-3 p-0 d-flex justify-content-center align-items-center">
                <img src="/img/small-bunny.gif" class="img-fluid " />
            </div>

        }else
        {
            
           <div class="col-3 p-0 d-flex justify-content-center align-items-center">
                <img src="/img/small-bunny.gif" class="img-fluid " />
            </div>
        }

        <!-- SILVER REGULAR -->
        <MainBetSelection BetValueDisplay="@Settings.Constants.Silver"
                          ShowTotalBets="@first3ViewModel.ShowTotalBets"
                          FixedPriceGoldTotalBets="@FixedPriceGoldTotalBets"
                          SampleWinFixedPrizeGold="@SampleWinFixedPrizeGold"
                          FixedPriceGoldMultiplier="@FixedPriceGoldMultiplier"
                          FixedPriceSilverTotalBets="@FixedPriceSilverTotalBets"
                          SampleWinFixedPrizeSilver="@SampleWinFixedPrizeSilver"
                          FixedPriceSilverMultipler="@FixedPriceSilverMultipler"
                          RoundStatusString="@RoundStatusString"
                          UserTotalBet_FixedPrizeSilver="@first3ViewModel.UserTotalBet_FixedPrizeSilver"
                          OnClickCallback="@(() => SelectBetType((int)@Settings.F3MainBetTypes.Silver))"
                          activeButtonSilver="@activeButtonSilver"
                          WinnerResults="@first3ViewModel.GameResultString"
                          isDisabled="@first3ViewModel.isbuttonDisabled" />
    </div>

    <div class="row3 p-0 d-flex text-light">

        <!-- GOLD SUITES -->
        <SubSameSuites OnClickCallback="@(() => SelectBetType((int)@Settings.F3SubBetTypes.SameSuiteGold))"
                       BetValueDisplay="@Settings.Constants.Gold"
                       SameSuiteGold="@SameSuiteGold"
                       UserTotalBet_SuitsGold="@first3ViewModel.UserTotalBet_SuitsGold"
                       SampleWinSuitsGold="@first3ViewModel.SampleWinSuitsGold"
                       WinnerResults="@first3ViewModel.GameResult.LeftWinningSuits"
                       isDisabled="@first3ViewModel.isbuttonDisabled" />

        <!-- TRIO -->
        <SubTrio Trio="@Trio"
                 BetType="(int)Settings.F3SubBetTypes.Trio"
                 OnClickCallback="@(() => SelectBetType((int)@Settings.F3SubBetTypes.Trio))"
                 UserTotalBet_Trio="@first3ViewModel.UserTotalBet_Trio"
                 SampleWinTrio="@first3ViewModel.SampleWinTrio"
                 WinnerResults="@first3ViewModel.GameResult.TrioResult"
                 isDisabled="@first3ViewModel.isbuttonDisabled" />

        <!-- SILVER SUITES -->
        <SubSameSuites OnClickCallback="@(() => SelectBetType((int)@Settings.F3SubBetTypes.SameSuiteSilver))"
                       BetValueDisplay="@Settings.Constants.Silver"
                       SameSuiteSilver="@SameSuiteSilver"
                       UserTotalBet_SuitsSilver="@first3ViewModel.UserTotalBet_SuitsSilver"
                       SampleWinSuitsSilver="@first3ViewModel.SampleWinSuitsSilver"
                       WinnerResults="@first3ViewModel.GameResult.RightWinningSuits"
                       isDisabled="@first3ViewModel.isbuttonDisabled" />
    </div>

    <div class="row4 p-0 d-flex text-light maxWidth">

        <!-- GOLD RED -->
        <Sub2Reds OnClickCallback="@(() => SelectBetType((int)@Settings.F3SubBetTypes.TwoRedGold))"
                  BetValueDisplay="@Settings.Constants.Gold"
                  TwoRedGold="@TwoRedGold"
                  UserTotalBet_ColorRedGold="@first3ViewModel.UserTotalBet_ColorRedGold"
                  SampleWinColorRedGold="@first3ViewModel.SampleWinColorRedGold"
                  WinnerResults="@first3ViewModel.GameResult.LeftWinningColor"
                  isDisabled="@first3ViewModel.isbuttonDisabled" />

        <!-- GOLD BLACK -->
        <Sub2Blacks BetValueDisplay="@Settings.Constants.Gold"
                    OnClickCallback="@(() => SelectBetType((int)@Settings.F3SubBetTypes.TwoBlackGold))"
                    TwoBlackGold="@TwoBlackGold"
                    UserTotalBet_ColorBlackGold="@first3ViewModel.UserTotalBet_ColorBlackGold"
                    SampleWinColorBlackGold="@first3ViewModel.SampleWinColorBlackGold"
                    WinnerResults="@first3ViewModel.GameResult.LeftWinningColor"
                    isDisabled="@first3ViewModel.isbuttonDisabled" />

        <!-- SILVER RED -->
        <Sub2Reds OnClickCallback="@(() => SelectBetType((int)@Settings.F3SubBetTypes.TwoRedSilver))"
                  BetValueDisplay="@Settings.Constants.Silver"
                  TwoRedSilver="@TwoRedSilver"
                  UserTotalBet_ColorRedSilver="@first3ViewModel.UserTotalBet_ColorRedSilver"
                  SampleWinColorRedSilver="@first3ViewModel.SampleWinColorRedSilver"
                  WinnerResults="@first3ViewModel.GameResult.RightWinningColor"
                  isDisabled="@first3ViewModel.isbuttonDisabled" />

        <!-- SILVER BLACK -->
        <Sub2Blacks BetValueDisplay="@Settings.Constants.Silver"
                    OnClickCallback="@(() => SelectBetType((int)@Settings.F3SubBetTypes.TwoBlackSilver))"
                    TwoBlackSilver="@TwoBlackSilver"
                    UserTotalBet_ColorBlackSilver="@first3ViewModel.UserTotalBet_ColorBlackSilver"
                    SampleWinColorBlackSilver="@first3ViewModel.SampleWinColorBlackSilver"
                    WinnerResults="@first3ViewModel.GameResult.RightWinningColor"
                    isDisabled="@first3ViewModel.isbuttonDisabled" />
    </div>

    @if (first3ViewModel.RoundStatusString == Settings.Constants.Open)
    {

        <div class="@first3ViewModel.tokenDiv">
            <Token GameChips="@first3ViewModel.GameChips" TokenContainer="@TokenContainer" OnClickCallback="@(() => CheckIfPlaceBetReady())" />
        </div>
    }
    else if (first3ViewModel.RoundStatusString == Settings.Constants.Cancelled)
    {
        <div class="cancelledText text-center w-100">
            <p class="col p-0">CANCELLED GAME</p>
            <p class="col p-0">BETS RETURNED </p>
        </div>
    }
</div>

