@using GoPlayAsiaWebApp.Goplay.ViewModels;
@using GoPlayAsiaWebApp.Goplay.ViewModels
@inject First3ViewModel first3ViewModel;

<div class="maincontainer">
    <div class="maincard container-fluid p-0">
        <div class="innerContainer row ">
            <p class="amo col-4 text-left pl-0">Amount</p>
            <p class="Min col text-right pr-0">Min: @String.Format("{0:#,##0}",@first3ViewModel.MinBet) - Max: @String.Format("{0:#,##0}",@first3ViewModel.MaxBet)</p>
            <input class="betAmo form-control font-weight-bolder" type="number" placeholder="@String.Format("{0:#,##0}",@first3ViewModel.BetAmount)" aria-label="default input example" disabled>
            <!--START TOKEN HERE-->
            <div class="tokenAmount container">
                <div class="tokenContainer">
                    <div class="upperToken row d-flex">
                        <div class="tokenValue col p-1 text-dark">
                            <a href="#" @onclick:preventDefault @onclick="@(()=> first3ViewModel.SetBetSelectedValue(@first3ViewModel.GameChips.Chip1))">
                                <p class="Token">@first3ViewModel.GameChips.Chip1Display</p>
                                <img src="/img/100.png" />
                            </a>
                        </div>
                        <div class="tokenValue col p-1 text-dark">
                            <a href="#" @onclick:preventDefault @onclick="@(()=> first3ViewModel.SetBetSelectedValue(@first3ViewModel.GameChips.Chip2))">
                            <p class="Token">@first3ViewModel.GameChips.Chip2Display</p>
                            <img src="/img/200.png" /></a>
                        </div>
                        <div class="tokenValue col p-1 text-dark">
                            <a href="#" @onclick:preventDefault @onclick="@(()=> first3ViewModel.SetBetSelectedValue(@first3ViewModel.GameChips.Chip3))">
                                <p class="Token">@first3ViewModel.GameChips.Chip3Display</p>
                                <img src="/img/300.png" />
                            </a>
                        </div>
                        <div class="tokenValue col p-1 text-dark">
                            <a href="#" @onclick:preventDefault @onclick="@(()=> first3ViewModel.SetBetSelectedValue(@first3ViewModel.GameChips.Chip4))">
                            <p class="Token">@first3ViewModel.GameChips.Chip4Display</p>
                            <img src="/img/500.png" /></a>
                        </div>
                        <div class="tokenValue col p-1 text-dark">
                            <a href="#" @onclick:preventDefault @onclick="@(()=> first3ViewModel.SetBetSelectedValue(@first3ViewModel.GameChips.Chip5))">
                            <p class="Token">@first3ViewModel.GameChips.Chip5Display</p>
                            <img src="/img/1k.png" /></a>
                        </div>
                    </div>
                    <div class="lowerToken row d-flex">
                        <div class="tokenValue col p-1 text-dark">
                            <a href="#" @onclick:preventDefault @onclick="@(()=> first3ViewModel.SetBetSelectedValue(@first3ViewModel.GameChips.Chip6))">
                            <p class="Token">@first3ViewModel.GameChips.Chip6Display</p>
                           <img src="/img/1-5k.png" /></a>
                        </div>
                        <div class="tokenValue col p-1 text-dark">
                            <a href="#" @onclick:preventDefault @onclick="@(()=> first3ViewModel.SetBetSelectedValue(@first3ViewModel.GameChips.Chip7))">
                            <p class="Token">@first3ViewModel.GameChips.Chip7Display</p>
                            <img src="/img/2k.png" /></a>
                        </div>
                        <div class="tokenValue col p-1 text-dark">
                            <a href="#" @onclick:preventDefault @onclick="@(()=> first3ViewModel.SetBetSelectedValue(@first3ViewModel.GameChips.Chip8))">
                            <p class="Token">@first3ViewModel.GameChips.Chip8Display</p>
                            <img src="/img/3k.png" /></a>
                        </div>
                        <div class="tokenValue col p-1 text-dark">
                            <a href="#" @onclick:preventDefault @onclick="@(()=> first3ViewModel.SetBetSelectedValue(@first3ViewModel.GameChips.Chip9))"> 
                            <p class="Token">@first3ViewModel.GameChips.Chip9Display</p>
                            <img src="/img/5k.png" /></a>
                        </div>
                        <div class="tokenValue col p-1 text-dark">
                            <a href="#" @onclick:preventDefault @onclick="@(()=> first3ViewModel.SetBetSelectedValue(@first3ViewModel.GameChips.Chip10))">
                            <p class="Token">@first3ViewModel.GameChips.Chip10Display</p>
                            <img src="/img/10k.png" /></a>
                        </div>
                    </div>

                </div>
            </div>

            
           <div class="lowerElemments mt-3 d-flex">
                <div class="select p-0 d-block">
                    <p class="mb-0">Select @first3ViewModel.BetOptionSelected</p>
                    <p class="mb-0">Bet: <span>@String.Format("{0:#,##0}",@first3ViewModel.BetAmount)</span></p>
                </div>
                <div class="actionButtonBet d-flex row">
                     <button class="closeBtn" type="button" @onclick="Close">CLOSE</button>
                    <button class="betBtn" type="button" @onclick="@(async  ()=> await Confirmation())">PLACE BET</button>
                </div>

            </div>
        </div>
        <!--END TOKEN HERE-->
    </div>
</div>


@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;


    async Task Close() => await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    async Task Cancel() => await BlazoredModal.CancelAsync();

}