@using GoPlayAsiaWebApp.Games.SharedCards
@using GoplayasiaBlazor.Models.Constants
@using GoPlayAsiaWebApp.ViewModels
@using GoPlayAsiaWebApp.Games.Shared
@inject First3ViewModel first3ViewModel;

@if (BetValueDisplay == Settings.Constants.Gold)
{
    @if (RoundStatusString == Settings.Constants.Open)
    {
        <!-- GOLD REGULAR (OPEN) -->
        <button @onclick=OnClickCallback class="@(first3ViewModel.IsFixedGoldEnabled == false ? "DisGoldButton" : activeButtonGold ) tieRelative borderGold btn col p-0 align-items-center" disabled="@isDisabled">
            <div class="d-flex mt-1">
                <p class="font-weight-bold p-0 col d-flex justify-content-center mt-2 " style="font-size: 25px;">@BetValueDisplay</p>
            </div>

            <!-- MULTIPLIER -->
            <div class="d-flex">
                @if (ShowTotalBets)
                {
                    <div class="col pl-1 payout d-flex  justify-content-end font-weight-bold"> @SampleWinFixedPrizeGold</div>
                }
                else
                {
                    <p class="col pr-1 payout d-flex  justify-content-end font-weight-bold @(UserTotalBet_FixedPrizeGold != "0" ? "" : "") ">@FixedPriceGoldMultiplier</p>
                }
            </div>

            <!-- TOKEN DISPLAY -->
            <TokenDisplay Amount="@UserTotalBet_FixedPrizeGold" />
            @if (first3ViewModel.Token_Animation != "" && first3ViewModel.CurrentGameType == (int)Settings.F3MainBetTypes.Gold)
            {
                <div class="additionaltokencontainer" style="--animation: @first3ViewModel.Token_Animation">
                    <img src="/img/selectedToken.png" class="tokenSelectedBet" />
                    <p class="selectedAmountToken ">@first3ViewModel.BetAmount</p>
                </div>
            }
        </button>
    }
    else
    {
        <!-- GOLD REGULAR (CLOSE) -->
        <div class="borderGold btn col p-0 @(Settings.Constants.Gold == WinnerResults ? "WinGoldButton" : (WinnerResults =="DRAW" ? "winnerTie" : "DisGoldButton"))">

            <!-- DISPLAY RESULT (CIRCLE) -->
            <div class="d-flex p-0 justify-content-center mt-1">
                <p class="font-weight-bold p-0 col d-flex justify-content-center" style="font-size: 20px;">@BetValueDisplay</p>
            </div>
            <div class="font-weight-bolder" style="font-size: 14px;line-height: normal;color: red !important; margin-top: -10px;"><span class="winnerText d-flex justify-content-center">@(Settings.Constants.Gold == WinnerResults ? "WINNER" : (WinnerResults == "DRAW" ? "" : ""))</span> </div>
            <!-- CARD DISPLAY -->
            <div class="cardResultsGoldContainer justify-content-center align-items-center d-flex mt-1">
                     @if (@first3ViewModel.GameResult.ValACard3 != String.Empty && @first3ViewModel.GameResult.ValACard3 != "NA" && @first3ViewModel.GameResult.ValACard3 is not null)
                {
                    <div class=" col p-0 cardResultsVertical">
                        <MainCardViewer CardToShow="@first3ViewModel.GameResult.ValACard3" />
                    </div>
                }
                else if (@first3ViewModel.PreGameResult.ValACard3 != String.Empty && @first3ViewModel.PreGameResult.ValACard3 != "NA" && @first3ViewModel.PreGameResult.ValACard3 is not null)
                {
                    <div class="col p-0 cardResultsVertical">
                        <MainCardViewer CardToShow="@first3ViewModel.PreGameResult.ValACard3" />
                    </div>
                }
                else
                {
                    <NoCardSelected CardNumber="3" />
                }

                @if (@first3ViewModel.GameResult.ValACard2 != String.Empty && @first3ViewModel.GameResult.ValACard2 != "NA" && @first3ViewModel.GameResult.ValACard2 is not null)
                {
                    <div class="col p-0 cardResultsVertical">
                        <MainCardViewer CardToShow="@first3ViewModel.GameResult.ValACard2" />
                    </div>
                }
                else if (@first3ViewModel.PreGameResult.ValACard2 != String.Empty && @first3ViewModel.PreGameResult.ValACard2 != "NA" && @first3ViewModel.PreGameResult.ValACard2 is not null)
                {
                    <div class="col p-0 cardResultsVertical">
                        <MainCardViewer CardToShow="@first3ViewModel.PreGameResult.ValACard2" />
                    </div>
                }
                else
                {
                    <NoCardSelected CardNumber="2" />
                }

         
                  @if (@first3ViewModel.GameResult.ValACard1 != String.Empty && @first3ViewModel.GameResult.ValACard1 != "NA" && @first3ViewModel.GameResult.ValACard1 is not null)
                {
                    <div class="col p-0 cardResultsVertical">
                        <MainCardViewer CardToShow="@first3ViewModel.GameResult.ValACard1" />
                    </div>
                }
                else if (@first3ViewModel.PreGameResult.ValACard1 != String.Empty && @first3ViewModel.PreGameResult.ValACard1 != "NA" && @first3ViewModel.PreGameResult.ValACard1 is not null)
                {
                    <div class="col p-0 cardResultsVertical">
                        <MainCardViewer CardToShow="@first3ViewModel.PreGameResult.ValACard1" />
                    </div>
                }
                else
                {
                    <NoCardSelected CardNumber="1" />
                }
            </div>

            <!-- MULTIPLIER -->
            <div class="d-flex">

                @if (ShowTotalBets)
                {
                    <div class="col pl-1 payout d-flex justify-content-end mt-2 font-weight-bold"> @SampleWinFixedPrizeGold</div>
                }
                else
                {
                    <p class="col pr-1 payout d-flex justify-content-end mt-2 font-weight-bold @(UserTotalBet_FixedPrizeGold != "0" ? "withBetF3" : "") ">@FixedPriceGoldMultiplier</p>
                }
            </div>

            <!-- TOKEN DISPLAY -->
            <TokenDisplay Amount="@UserTotalBet_FixedPrizeGold" />
        </div>
    }

}
else if (BetValueDisplay == Settings.Constants.Silver)
{
    @if (RoundStatusString == Settings.Constants.Open)
    {
        <!-- SILVER REGULAR (OPEN) -->
        <button @onclick=OnClickCallback class="@(first3ViewModel.IsFixedSilverEnabled == false ? "DisSilverButton" : activeButtonSilver ) borderGold btn col p-0 justify-content-center align-items-center" disabled="@isDisabled">
            <div class="d-flex  mt-1">
                <p class="font-weight-bold p-0 col d-flex justify-content-center mt-2  " style="font-size: 25px;">@BetValueDisplay</p>
            </div>

            <!-- MULTIPLIER -->
            <div class="d-flex">
                @if (ShowTotalBets)
                {
                    <div class="col pl-1 payout d-flex justify-content-end font-weight-bold">@SampleWinFixedPrizeSilver</div>
                }
                else
                {
                    <p class="col pr-1 payout d-flex justify-content-end font-weight-bold @(UserTotalBet_FixedPrizeSilver != "0" ? "" : "")">@FixedPriceSilverMultipler</p>
                }
            </div>

            <!-- TOKEN DISPLAY -->
            <TokenDisplay Amount="@UserTotalBet_FixedPrizeSilver" />
            @if (first3ViewModel.Token_Animation != "" && first3ViewModel.CurrentGameType == (int)Settings.F3MainBetTypes.Silver)
            {
                <div class="additionaltokencontainerBanker" style="--animation: @first3ViewModel.Token_Animation">
                    <img src="/img/selectedToken.png" class="tokenSelectedBet" />
                    <p class="selectedAmountToken mt-1">@first3ViewModel.BetAmount</p>
                </div>
            }
        </button>
    }
    else
    {
        <!-- SILVER REGULAR (CLOSE) -->
        <div class="relativeDiv borderGold btn col p-0 @(Settings.Constants.Silver == WinnerResults ?  "WinSilverButton" :  (WinnerResults =="DRAW" ?  "winnerTie" : "DisSilverButton")) ">
            <!-- DISPLAY RESULT (CIRCLE) -->
            <div class="d-flex p-0 justify-content-center mt-1">
                <p class="font-weight-bold p-0 col d-flex justify-content-center" style="font-size: 20px;">@BetValueDisplay</p>

            </div>
            <div class="font-weight-bolder" style="font-size: 14px;line-height: normal;color: red !important; margin-top: -10px;"><span class="winnerText d-flex justify-content-center">@(Settings.Constants.Silver == WinnerResults ? "WINNER" : (WinnerResults == "DRAW" ? "" : ""))</span> </div>

            <!-- CARD DISPLAY -->
            <div class="cardResultsGoldContainer  justify-content-center align-items-center d-flex mt-1">
                            @if (@first3ViewModel.GameResult.ValBCard1 != String.Empty && @first3ViewModel.GameResult.ValBCard1 != "NA" && @first3ViewModel.GameResult.ValBCard1 is not null)
                {
                    <div class="col p-0 cardResultsVertical">
                        <MainCardViewer CardToShow="@first3ViewModel.GameResult.ValBCard1" />
                    </div>
                }
                else if (@first3ViewModel.PreGameResult.ValBCard1 != String.Empty && @first3ViewModel.PreGameResult.ValBCard1 != "NA" && @first3ViewModel.PreGameResult.ValBCard1 is not null)
                {
                    <div class="col p-0 cardResultsVertical">
                        <MainCardViewer CardToShow="@first3ViewModel.PreGameResult.ValBCard1" />
                    </div>
                }
                else
                {
                    <NoCardSelected CardNumber="1" />
                }
                    @if (@first3ViewModel.GameResult.ValBCard2 != String.Empty && @first3ViewModel.GameResult.ValBCard2 != "NA" && @first3ViewModel.GameResult.ValBCard2 is not null)
                {
                    <div class="col p-0 cardResultsVertical">
                        <MainCardViewer CardToShow="@first3ViewModel.GameResult.ValBCard2" />
                    </div>
                }
                else if (@first3ViewModel.PreGameResult.ValBCard2 != String.Empty && @first3ViewModel.PreGameResult.ValBCard2 != "NA" && @first3ViewModel.PreGameResult.ValBCard2 is not null)
                {
                    <div class="col p-0 cardResultsVertical">
                        <MainCardViewer CardToShow="@first3ViewModel.PreGameResult.ValBCard2" />
                    </div>
                }
                else
                {
                    <NoCardSelected CardNumber="2" />
                }

                
                @if (@first3ViewModel.GameResult.ValBCard3 != String.Empty && @first3ViewModel.GameResult.ValBCard3 != "NA" && @first3ViewModel.GameResult.ValBCard3 is not null)
                {
                    <div class="col p-0 cardResultsVertical">
                        <MainCardViewer CardToShow="@first3ViewModel.GameResult.ValBCard3" />
                    </div>
                }
                else if (@first3ViewModel.PreGameResult.ValBCard3 != String.Empty && @first3ViewModel.PreGameResult.ValBCard3 != "NA" && @first3ViewModel.PreGameResult.ValBCard3 is not null)
                {
                    <div class="col p-0 cardResultsVertical">
                        <MainCardViewer CardToShow="@first3ViewModel.PreGameResult.ValBCard3" />
                    </div>
                }
                else
                {
                    <NoCardSelected CardNumber="3" />
                }

            
    
            </div>

            <!-- MULTIPLIER -->
            <div class="d-flex">
                @if (ShowTotalBets)
                {
                    <div class="col payout d-flex justify-content-end mr-1 p-0 mt-2 font-weight-bold"> @SampleWinFixedPrizeSilver</div>
                }
                else
                {
                    <p class="col payout d-flex justify-content-end mr-1 pr-0 mt-2 font-weight-bold @(UserTotalBet_FixedPrizeSilver != "0" ? "withBetF3" : "") ">@FixedPriceSilverMultipler</p>
                }

            </div>

            <!-- TOKEN DISPLAY -->
            <TokenDisplay Amount="@UserTotalBet_FixedPrizeSilver" />

    
        </div>
     
    }

}
@if (WinnerResults == "DRAW")
{
    <div class="tieResultText">TIE</div>

}

