@using System.Collections.ObjectModel
@using GoPlayAsiaWebApp.Goplay.ViewModels;
    using GoPlayAsiaWebApp.Goplay.ViewModels
@inject DropwinS5ViewModel dropwinS5ViewModel;

<div class="ticketGameCon">
    <!--END LUCKYPICK-->
    <!--START gheader-->
    <div class="gHeaderCon row d-flex mt-2">
        <div class="f2ColorHeader col text-center">F2</div>
        <div class="f3ColorHeader col text-center">F3</div>
        <div class="f4ColorHeader col text-center">A4</div>
    </div>
    <!--END gheader-->
    <!--START GAME TICKET-->
    <div class="ticketMainDiv row d-flex">
        <div class="f2row w-100 col">
            @if (UserBets_F2 != null){
                <div class="loopf2 myTicketsf2 text-light">
                @foreach (var _userbets in UserBets_F2)
                {
                            <div class="row">
                                <div class="ticketNum col align-items-end justify-content-center">@_userbets.BetValue</div>
                                <div>
                                    <div class="betAmo col d-block">@_userbets.BetAmountDisplay</div>
                                    <div class="winningAmo col d-block">@_userbets.WinableAmount</div>
                                </div>
                            </div>
                }
                </div>      
            }
        </div>
        <div class="f3row col">
            @if (UserBets_F3 != null)
            {
                <div class="loopf3 myTicketsf2 text-light">
                    @foreach (var _userbets in UserBets_F3)
                    {
                        <div class="row">
                            <div class="ticketNum col align-items-end justify-content-center">@_userbets.BetValue</div>
                            <div>
                                <div class="betAmo col d-block">@_userbets.BetAmountDisplay</div>
                                <div class="winningAmo col d-block">@_userbets.WinableAmount</div>
                            </div>
                        </div>

                    }
                </div>
            }
           
        </div>
        <div class="f3row col">
            @if (UserBets_All4 != null)
            {
                <div class="loopf4 myTicketsA4 text-light">
                    @foreach (var _userbets in UserBets_All4)
                    {
                        <div class="row ticketCon">
                            <div class="ticketNumA4 col justify-content-center align-items-center">@_userbets.BetValue</div>
                            <div>
                                <div class="betAmo d-block">@_userbets.BetAmountDisplay</div>
                                <div class="winningAmo d-block">@_userbets.WinableAmount</div>
                            </div>
                        </div>

                    }
                </div>
            }
           
        </div>
    </div>
    <!--END GAME TICKET-->
    <!--DW TRENDS/HISTORY-->
    <div class="dwTotalBets d-flex align-items-center justify-content-center mt-1">TOTAL BETS: @dropwinS5ViewModel.TotalAccumulatedBetsString</div>
    <h6 class="gHeaderCon  mt-2 mb-2 font-weight-bold">GAME RESULT</h6>

    @if (TrendsDisplay != null)
    {
        <div class="trendsMainCon container-fluid row flex-nowrap">
            @foreach (var _trends in TrendsDisplay)
            {
                <div class="roinnerCon col-m-1">
                    @foreach (var _trenditems in _trends.CurrentList)
                    {
                    <div class="row trendsCon">
                        <p class="dwGameNum">#@_trenditems.TrendsNumberDisplay</p>
                        <p class="dwGameRes">@_trenditems.NonCardsResultDisplay</p>
                    </div>
                    }
                </div>
            }
        </div>
    }

</div>



