@using GoPlayAsiaWebApp.Goplay.ViewModels
@using static GoplayasiaBlazor.Models.Constants.Settings
@inject DropwinS5ViewModel dropwinS5ViewModel;
@inject IToastService toastService;
@if (RoundStatusString == Constants.Open)
{
    <section class="mainCon">
        <p class="selectTokenP text-center m-0 text-light">SELECT GAME</p>
        <div class="innerCon row d-flex">
            <a href="/" @onclick:preventDefault @onclick='(() => ClickBetButton("F2"))' class="f2Tab col @F2ActiveHeader">
                <div class="">
                    <div class="f2Header text-center @F2ActiveBody">FIRST (2)</div>
                    @*<div class="text-center">0-9</div>*@
                    <div class="text-center">@dropwinS5ViewModel.RatioDisplay_F2</div>
                    <div class="text-center">@dropwinS5ViewModel.TotalBets_F2</div>
                </div>
            </a>
            <a href="/" @onclick:preventDefault @onclick='(() => ClickBetButton("F3"))' class="f3Tab col @F3ActiveHeader">
                <div class="">
                    <div class="f3Header text-center @F3ActiveBody">FIRST (3)</div>
                    @*<div class="text-center">0-9</div>*@
                    <div class="text-center">@dropwinS5ViewModel.RatioDisplay_F3</div>
                    <div class="text-center">@dropwinS5ViewModel.TotalBets_F3</div>
                </div>
            </a>
            <a href="/" @onclick:preventDefault @onclick='(() => ClickBetButton("ALL4"))' class="f4Tab col  @All4ActiveHeader">
                <div class="">
                    <div class="f4Header text-center @All4ActiveBody">ALL (4)</div>
                    @*<div class="text-center">0-9</div>*@
                    <div class="text-center">@dropwinS5ViewModel.RatioDisplay_All4</div>
                    <div class="text-center">@dropwinS5ViewModel.TotalBets_All4</div>
                </div>
            </a>
        </div>

    </section>
    <!--betLEtters-->
    @if (@IsChipsVisible)
    {
        <div class="selectTokenCon ">
            <p class="col text-light p-0">SELECT COMBINATION</p>
        </div>
        @if (@dropwinS5ViewModel.Dwgametype != 3 || (@dropwinS5ViewModel.Dwgametype == 3 && selbetval == 1))
        {
            <div class="betLetters mb-3">
                <div class="betInnerCon">
                    <div class="letterCon row mt-2 justify-content-center justify-content-between sm">
                        <!--START top bot div-->
                        <div class="lettersBtn col">
                            <button href="#" class="btn btns" @onclick='(() => AddCharacter("1"))'>1</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddCharacter("2"))'>2</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddCharacter("3"))'>3</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddCharacter("4"))'>4</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddCharacter("5"))'>5</button>
                        </div>
                    </div>
                    <div class="letterCon row mt-2 justify-content-center justify-content-between">

                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddCharacter("6"))'>6</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddCharacter("7"))'>7</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddCharacter("8"))'>8</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddCharacter("9"))'>9</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddCharacter("0"))'>0</button>
                        </div>
                    </div>
                    <!--END top bot div-->
                </div>
            </div>
        }
        @if (@dropwinS5ViewModel.Dwgametype == 3 && selbetval == 2)
        {
            <div class="betLetters mb-3">
                <div class="betInnerCon">
                    <div class="letterCon row mt-2 justify-content-center justify-content-between sm">
                        <!--START top bot div-->
                        <div class="lettersBtn col">
                            <button href="#" class="btn btns" @onclick='(() => AddLastChar("A"))'>A</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddLastChar("B"))'>B</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddLastChar("C"))'>C</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddLastChar("D"))'>D</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddLastChar("E"))'>E</button>
                        </div>

                    </div>
                    <div class="letterCon row mt-2 justify-content-center justify-content-between">

                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddLastChar("F"))'>F</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddLastChar("G"))'>G</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddLastChar("H"))'>H</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddLastChar("I"))'>I</button>
                        </div>
                        <div class="lettersBtn col">
                            <button class="btn btns" @onclick='(() => AddLastChar("J"))'>J</button>
                        </div>
                    </div><!--END top bot div-->
                </div>
            </div>
        }
    }
    <!--betLEtters-->

    <div class="tokenMainCon">
        <div class="selectTokenConLower row d-flex">
            <p class="text-light mb-0 p-0">SELECT TOKEN</p>
            @* <p class="discurrentBet col text-light text-right pr-1 m-0">TOTAL BETS: @dropwinS5ViewModel.TotalAccumulatedBetsString</p>*@
        </div>
        @if (@GameChips != null && IsChipsVisible)
        {
            <div class="innerConToken row @JustifyContents">
                @if (@GameChips.Chip1Display != null)
                {
                    <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip1))'>
                        <div class="tokenCon">
                            <img src="/img/100.png" />
                            <p class="betAmount">@GameChips.Chip1Display</p>
                        </div>
                    </a>
                }
                @if (@GameChips.Chip2Display != null)
                {
                    <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip2))'>
                        <div class="tokenCon">
                            <img src="/img/200.png" />
                            <p class="betAmount">@GameChips.Chip2Display</p>
                        </div>
                    </a>
                }
                @if (@GameChips.Chip3Display != null)
                {
                    <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip3))'>
                        <div class="tokenCon">
                            <img src="/img/300.png" />
                            <p class="betAmount">@GameChips.Chip3Display</p>
                        </div>
                    </a>
                }
                @if (@GameChips.Chip4Display != null)
                {
                    <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip4))'>
                        <div class="tokenCon">
                            <img src="/img/500.png" />
                            <p class="betAmount">@GameChips.Chip4Display</p>
                        </div>
                    </a>
                }
                @if (@GameChips.Chip5Display != null)
                {
                    <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip5))'>
                        <div class="tokenCon">
                            <img src="/img/1k.png" />
                            <p class="betAmount">@GameChips.Chip5Display</p>
                        </div>
                    </a>
                }
            </div>
            <div class="innerConToken row mt-3 justify-content-between">
                @if (@GameChips.Chip6Display != null)
                {
                    <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip6))'>
                        <div class="tokenCon">
                            <img src="/img/1-5k.png" />
                            <p class="betAmount black">@GameChips.Chip6Display</p>
                        </div>
                    </a>
                }
                @if (@GameChips.Chip7Display != null)
                {
                    <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip7))'>
                        <div class="tokenCon">
                            <img src="/img/2k.png" />
                            <p class="betAmount">@GameChips.Chip7Display</p>
                        </div>
                    </a>
                }
                @if (@GameChips.Chip8Display != null)
                {
                    <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip8))'>
                        <div class="tokenCon">
                            <img src="/img/3k.png" />
                            <p class="betAmount">@GameChips.Chip8Display</p>
                        </div>
                    </a>
                }
                @if (@GameChips.Chip9Display != null)
                {
                    <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip9))'>
                        <div class="tokenCon">
                            <img src="/img/5k.png" />
                            <p class="betAmount">@GameChips.Chip9Display</p>
                        </div>
                    </a>
                }
                @if (@GameChips.Chip10Display != null)
                {
                    <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip10))'>
                        <div class="tokenCon">
                            <img src="/img/10k.png" />
                            <p class="betAmount">@GameChips.Chip10Display</p>
                        </div>
                    </a>
                }
            </div>
            <!--Start s4 COMBINATION FIELD-->
            @if (All4ActiveHeader == "TabActive")
            {
                <div class="comboCons4 form-group row d-flex justify-content-center">
                    <span class="betfieldHeaders4">@betplaceholder</span>
                    <span class="betAmountHeader fieldHeader">1 Letter (A-J)</span>
                    <span class="betAmountHeaders4 fieldHeader">Amount</span>
                    <div class="comboInnerConAlpha col-4 d-flex p-0">
                        <input class="@(selbetval == 2 ? "": "actives4Number") col text-center mr-2" type="text" placeholder="0-9" @bind-value="@dropwinS5ViewModel.LetterValue" onclick="@(async () => await betsel(1) )" readonly  @ref="txtnumref" />
                        <button class="clearBtnAlpha" @onclick='(() => RemoveLastCharacter(1))'>X</button>
                    </div>
                    <div class="comboInnerCon col-4 d-flex p-0">
                        <input class=" @(selbetval == 1 ? "": "actives4Number") col text-center mr-2" type="text" placeholder="A-J" @bind-value="@dropwinS5ViewModel.LastValue" onclick="@(async () => await betsel(2) )" readonly @ref="txtcharref"/>
                   <button class="clearBtnNumeric" @onclick='(() => RemoveLastCharacter(2))'>X</button>
                    </div>
                    <span class="betField col-2 form-control align-content-center">@dropwinS5ViewModel.BetAmountDisplay</span>
                    <button class="dws4betBotton col-3 btn btn-success btn-md active @(@dropwinS5ViewModel.IsPlaceBetEnabled? "": "disabled")" @onclick='(() => PlaceBet())'>BET</button>
                </div>
            }
            else
            {
                <!--End s4COMBINATION FIELD-->
                <!--COMBINATION FIELD-->
                <div class="comboCon form-group row d-flex justify-content-center">
                    <span class="betfieldHeader">@betplaceholder</span>
                    <span class="betAmountHeader fieldHeader">Amount</span>
                    <div class="comboInnerCon col-4 d-flex p-0">
                        <span class="comboField col form-control text-center">@dropwinS5ViewModel.LetterValue</span>
                        <button class="clearBtn" @onclick='(() => RemoveLastCharacter(1))'>X</button>
                        @if (String.IsNullOrEmpty(@dropwinS5ViewModel.LetterValue))
                        {
                            <span class="placeHolder">(0-9)</span>
                        }
                    </div>
                    <span class="betField col-2 form-control align-content-center">@dropwinS5ViewModel.BetAmountDisplay</span>
                    <button class="dwbetBotton col-3 btn btn-success btn-md active @(@dropwinS5ViewModel.IsPlaceBetEnabled? "": "disabled")" @onclick='(() => PlaceBet())'>BET</button>
                </div>
            }
            <!--COMBINATION FIELD-->
            <!--START LUCKYPICK-->
            <div class="luckypickCon">
                <div class="innerLuckypickCon row">
                    <button class="x1 btn col  @(@dropwinS5ViewModel.IsLuckyPick1 ? "btn-primary": "btn-warning")" @onclick:preventDefault @onclick='(() => SetLuckyPickBet("LuckyPick"))'>LUCKY PICK X1</button>
                    <button class="x5 btn col  @(@dropwinS5ViewModel.IsLuckyPick5 ? "btn-primary": "btn-warning")" @onclick:preventDefault @onclick='(() => SetLuckyPickBet("LuckyPickx5"))'>LUCKY PICK X5</button>
                </div>
            </div>
        }
    </div>
}
else @if (@RoundStatusString == Constants.Closed || @RoundStatusString == Constants.Cancelled)
{
    <section class="mainCon">
        <p class="selectTokenP text-center m-0 text-light">SELECT GAME</p>
        <div class="innerCon row d-flex">
            <div class="col disf2Tab">
                <div class="text-center disf2Header ">FIRST (2)</div>
                <div class="text-center">0-9</div>
                <div class="text-center">@dropwinS5ViewModel.RatioDisplay_F2</div>
                <div class="text-center">@dropwinS5ViewModel.TotalBets_F2</div>
            </div>
            <div class="col disf3Tab">
                <div class="text-center disf3Header">FIRST (3)</div>
                <div class="text-center">0-9</div>
                <div class="text-center">@dropwinS5ViewModel.RatioDisplay_F3</div>
                <div class="text-center">@dropwinS5ViewModel.TotalBets_F3</div>
            </div>
            <div class="col disf4Tab">
                <div class="text-center disf4Header">ALL (4)</div>
                <div class="text-center">0-9</div>
                <div class="text-center">@dropwinS5ViewModel.RatioDisplay_All4</div>
                <div class="text-center">@dropwinS5ViewModel.TotalBets_All4</div>
            </div>
        </div>

        @if (@dropwinS5ViewModel.GameResult != string.Empty)
        {
            <div class="text-center ">
                <p class="gameResultDisplay text-light text-center">RESULT : @dropwinS5ViewModel.GameResult</p>
            </div>
        }


    </section>

}
