@using GoplayasiaBlazor.Models.Constants;
@using GoPlayAsiaWebApp.Goplay.ViewModels
@using System.Globalization
@using static GoplayasiaBlazor.Models.Constants.Settings
@inject Go12ViewModel go12ViewModel;
@inject IToastService toastService;
<marquee class="text-light d-flex justify-content-center font-weight-bolder" style="font-size: 15px;">WELCOME TO GO12 DROPBALL GAME!</marquee>


@if (@RoundStatusString == Constants.Open)
{
    <!-- MAIN BET -->
    <div class="mainBetContainer" style="display: flex">
        <!-- REGULAR BLACK -->
        <div class="col p-0">
            <MainBettingButton BetValueDisplay="@Settings.Constants.Black"
                               UserTotalBet_FixedPrizeRed="@go12ViewModel.UserTotalBet_FixedPrize_Red"
                               UserTotalBet_FixedPrizeBlack="@go12ViewModel.UserTotalBet_FixedPrize_Black"
                               OnClickCallback="@(() => SelectBetType("REGULAR-BLACK"))"
                               BetValue="@go12ViewModel.BetCombinationValue" />
        </div>
        <div class="col-2 p-0 d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="/img/g12Gif.gif" style="height: 63px; margin-top: -5px;" />
        </div>
        <!-- REGULAR RED -->
        <div class="col p-0">
            <MainBettingButton BetValueDisplay="@Settings.Constants.Red"
                               UserTotalBet_FixedPrizeRed="@go12ViewModel.UserTotalBet_FixedPrize_Red"
                               UserTotalBet_FixedPrizeBlack="@go12ViewModel.UserTotalBet_FixedPrize_Black"
                               OnClickCallback="@(() => SelectBetType("REGULAR-RED"))"
                               BetValue="@go12ViewModel.BetCombinationValue" />
        </div>
    </div>

    <!-- NUMBERS -->
    @if (go12ViewModel.GameSetting != null)
    {
        <section class="main">
            <div class="g12Titleheader d-flex row mb-0 " style="background-color: #303030;border-top: solid 2px #b07c28; border-bottom: solid 2px #b07c28;">
                <p class="pl-4 pr-0 d-flex justify-content-center  col mb-0 text-light font-weight-bolder">Choose 1 - 12</p>
                <p class="pr-4 pl-0 d-flex justify-content-center  col mb-0 text-light font-weight-bolder">Win &nbsp; x10</p>
            </div>

            @*  <!-- TOKEN DISPLAY (1 - 6) -->
    <div class="d-flex row">
    <!-- USER BET 01 -->
    <div class="col showSelectedToken p-0" style=" border-top-left-radius: 25px;">
    @if (go12ViewModel.Number_01_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_01_UserBet))</div>
    }
    </div>

    <!-- USER BET 02 -->
    <div class="col showSelectedToken p-0">
    @if (go12ViewModel.Number_02_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_02_UserBet))</div>
    }
    </div>

    <!-- USER BET 03 -->
    <div class="col showSelectedToken p-0">
    @if (go12ViewModel.Number_03_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_03_UserBet))</div>
    }
    </div>

    <!-- USER BET 04 -->
    <div class="col showSelectedToken  p-0">
    @if (go12ViewModel.Number_04_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_04_UserBet))</div>
    }
    </div>

    <!-- USER BET 05 -->
    <div class="col showSelectedToken  p-0">
    @if (go12ViewModel.Number_05_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_05_UserBet))</div>
    }
    </div>

    <!-- USER BET 06 -->
    <div class="col showSelectedToken  p-0" style=" border-top-right-radius: 25px;">
    @if (go12ViewModel.Number_06_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_06_UserBet))</div>
    }
    </div>
    </div> *@

            <!-- BETTING BUTTONS (01 - 06) -->
            <div>
                <div class="row ">
                    <!-- NUMBER 01 -->
                    @if (@IsOptionEnabled_1)
                    {
                        <!-- 01 ENABLED -->
                        <div class="betContainer red col-2">
                            <a href="" @onclick:preventDefault @onclick='(() => SelectBetType("01"))'>
                                <div class="border-box @(@Number_01_UserBet != "0" ? "withbet" : "withoutbet")">
                                    <div class="d-flex align-items-center justify-content-center ">
                                        <div class="betNumber col w-100">
                                            <button class="betBtn @(go12ViewModel.BetCombinationValue == Settings.Constants.One ? "numberActive" : "") col" @onclick='(() => SelectBetType("01"))'>
                                                1
                                                <div class="tokenSize mt-1">
                                                    @if (go12ViewModel.Number_01_UserBet != "0")
                                                    {

                                                        <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
                                                        <div class="tokenText">@(NumFormatter(go12ViewModel.Number_01_UserBet))</div>
                                                    }
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <!-- 01 DISABLED -->
                        <div class="betContainer col-2">
                            <div class="@(@IsWon_1 ? "winners" : "") border-box">
                                <div class="d-flex align-items-center">
                                    <div class="betNumber col">
                                        <button class="btn betBtn col">1</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- NUMBER 02 -->
                    @if (@IsOptionEnabled_2)
                    {
                        <!-- 02 ENABLED -->
                        <div class="betContainer black col-2">
                            <a href="" @onclick:preventDefault @onclick='(() => SelectBetType("02"))'>
                                <div class="border-box  @(@Number_Payout_2 != "0" ? "withbet" : "withoutbet")">
                                    <div class="d-flex align-items-center">
                                        <div class="betNumber col">
                                            <button class="betBtn @(go12ViewModel.BetCombinationValue == Settings.Constants.Two ? "numberActive" : "") col" @onclick='(() => SelectBetType("02"))'>
                                                2
                                                <div class="tokenSize mt-1">
                                                    @if (go12ViewModel.Number_02_UserBet != "0")
                                                    {

                                                        <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
                                                        <div class="tokenText">@(NumFormatter(go12ViewModel.Number_02_UserBet))</div>
                                                    }
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <!-- 02 DISABLED -->
                        <div class="betContainer col-2">
                            <div class="@(@IsWon_2 ? "winners" : "")  border-box">
                                <div class="d-flex align-items-center">
                                    <div class="betNumber col">
                                        <button class="btn betBtn">2</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- NUMBER 03 -->
                    @if (@IsOptionEnabled_3)
                    {
                        <!-- 03 ENABLED -->
                        <div class="betContainer red col-2">
                            <a href="" @onclick:preventDefault @onclick='(() => SelectBetType("03"))'>
                                <div class="border-box @(@Number_03_UserBet != "0" ? "withbet" : "withoutbet")">
                                    <div class="d-flex align-items-center">
                                        <div class="betNumber col">
                                            <button class="betBtn @(go12ViewModel.BetCombinationValue == Settings.Constants.Three ? "numberActive" : "") col" @onclick='(() => SelectBetType("03"))'>
                                                3
                                                <div class="tokenSize mt-1">
                                                    @if (go12ViewModel.Number_03_UserBet != "0")
                                                    {

                                                        <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
                                                        <div class="tokenText">@(NumFormatter(go12ViewModel.Number_03_UserBet))</div>
                                                    }
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <!-- 03 DISABLED -->
                        <div class="betContainer col-2">
                            <div class="@(@IsWon_3 ? "winners" : "")  border-box">
                                <div class="d-flex align-items-center">
                                    <div class="betNumber col">
                                        <button class="btn betBtn col">3</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- NUMBER 04 -->
                    @if (@IsOptionEnabled_4)
                    {
                        <!-- 04 ENABLED -->
                        <div class="betContainer black col-2">
                            <a href="" @onclick:preventDefault @onclick='(() => SelectBetType("04"))'>
                                <div class="border-box @(@Number_04_UserBet != "0" ? "withbet" : "withoutbet")">
                                    <div class="d-flex align-items-center">
                                        <div class="betNumber col">
                                            <button class="betBtn @(go12ViewModel.BetCombinationValue == Settings.Constants.Four ? "numberActive" : "") col" @onclick='(() => SelectBetType("04"))'>
                                                4
                                                <div class="tokenSize mt-1">
                                                    @if (go12ViewModel.Number_04_UserBet != "0")
                                                    {

                                                        <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
                                                        <div class="tokenText">@(NumFormatter(go12ViewModel.Number_04_UserBet))</div>
                                                    }
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <!-- 04 DISABLED -->
                        <div class="betContainer col-2">
                            <div class="@(@IsWon_4 ? "winners" : "")  border-box">
                                <div class="d-flex align-items-center">
                                    <div class="betNumber col">
                                        <button class="btn betBtn col">4</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- NUMBER 05 -->
                    @if (@IsOptionEnabled_5)
                    {
                        <!-- 05 ENABLED -->
                        <div class="betContainer red col-2">
                            <a href="" @onclick:preventDefault @onclick='(() => SelectBetType("05"))'>
                                <div class="border-box @(@Number_05_UserBet != "0" ? "withbet" : "withoutbet")">
                                    <div class="d-flex align-items-center">
                                        <div class="betNumber col">
                                            <button class="betBtn @(go12ViewModel.BetCombinationValue == Settings.Constants.Five ? "numberActive" : "") col" @onclick='(() => SelectBetType("05"))'>
                                                5
                                                <div class="tokenSize mt-1">
                                                    @if (go12ViewModel.Number_05_UserBet != "0")
                                                    {

                                                        <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
                                                        <div class="tokenText">@(NumFormatter(go12ViewModel.Number_05_UserBet))</div>
                                                    }
                                                </div>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- USER BET 05 -->

                        </div>

                    }
                    else
                    {
                        <!-- 05 DISABLED -->
                        <div class="betContainer col-2">
                            <div class="@(@IsWon_5 ? "winners" : "") border-box">
                                <div class="d-flex align-items-center">
                                    <div class="betNumber ml-auto col">
                                        <button class="btn betBtn col">
                                            5
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- NUMBER 06 -->
                    @if (@IsOptionEnabled_6)
                    {
                        <!-- 06 ENABLED -->
                        <div class="betContainer black col-2">
                            <a href="" @onclick:preventDefault @onclick='(() => SelectBetType("06"))'>
                                <div class="border-box @(@Number_06_UserBet != "0" ? "withbet" : "withoutbet")">
                                    <div class="d-flex align-items-center">
                                        <div class="betNumber col">
                                            <button class="betBtn @(go12ViewModel.BetCombinationValue == Settings.Constants.Six ? "numberActive" : "") col " @onclick='(() => SelectBetType("06"))'>
                                                6
                                                <div class="tokenSize mt-1">
                                                    @if (go12ViewModel.Number_06_UserBet != "0")
                                                    {

                                                        <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
                                                        <div class="tokenText">@(NumFormatter(go12ViewModel.Number_06_UserBet))</div>
                                                    }
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <!-- 06 DISABLED -->
                        <div class="betContainer col-2">
                            <div class="@(@IsWon_6 ? "winners" : "") border-box">
                                <div class="d-flex align-items-center">
                                    <div class="betNumber col">
                                        <button class="btn betBtn col">6</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- BETTING BUTTONS (07 - 12) -->
            <div class="d-flex row">
                <!-- NUMBER 12 -->
                @if (@IsOptionEnabled_12)
                {
                    <!-- 12 ENABLED -->
                    <div class="betContainer black col-2">
                        <a href="" @onclick:preventDefault @onclick='(() => SelectBetType("12"))'>
                            <div class="border-box @(@Number_12_UserBet != "0" ? "withbet" : "withoutbet")">
                                <div class="d-flex align-items-center">
                                    <div class="betNumber col">
                                        <button class="betBtn @(go12ViewModel.BetCombinationValue == Settings.Constants.Twelve ? "numberActive" : "") col" @onclick='(() => SelectBetType("12"))'>
                                            12
                                            <div class="tokenSize mt-1">
                                                @if (go12ViewModel.Number_12_UserBet != "0")
                                                {

                                                    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
                                                    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_12_UserBet))</div>
                                                }
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <!-- 12 DISABLED -->
                    <div class="betContainer col-2">
                        <div class="@(@IsWon_12 ? "winners" : "") border-box">
                            <div class="d-flex align-items-center">
                                <div class="disbetNumber col">
                                    <button class="col betBtn w-100">12</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- NUMBER 11 -->
                @if (@IsOptionEnabled_11)
                {
                    <!-- 11 ENABLED -->
                    <div class="betContainer red col-2">
                        <a href="" @onclick:preventDefault @onclick='(() => SelectBetType("11"))'>
                            <div class="border-box @(@Number_11_UserBet != "0" ? "withbet" : "withoutbet")">
                                <div class="d-flex align-items-center">
                                    <div class="betNumber col">
                                        <button class="betBtn @(go12ViewModel.BetCombinationValue == Settings.Constants.Eleven ? "numberActive" : "") col" @onclick='(() => SelectBetType("11"))'>
                                            11
                                            <div class="tokenSize mt-1">
                                                @if (go12ViewModel.Number_11_UserBet != "0")
                                                {

                                                    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
                                                    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_11_UserBet))</div>
                                                }
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <!-- 11 DISABLED -->
                    <div class="betContainer col-2">
                        <div class="@(@IsWon_11 ? "winners" : "") border-box">
                            <div class="d-flex align-items-center">
                                <div class="betNumber col w-100">
                                    <button class="btn betBtn col">11</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <!-- NUMBER 10 -->
                @if (@IsOptionEnabled_10)
                {
                    <!-- 10 ENABLED -->
                    <div class="betContainer black col-2">
                        <a href="" @onclick:preventDefault @onclick='(() => SelectBetType("10"))'>
                            <div class="border-box @(@Number_10_UserBet != "0" ? "withbet" : "withoutbet")">
                                <div class="d-flex align-items-center">
                                    <div class="betNumber col">
                                        <button class="betBtn @(go12ViewModel.BetCombinationValue == Settings.Constants.Ten ? "numberActive" : "") col" @onclick='(() => SelectBetType("10"))'>
                                            10
                                            <div class="tokenSize mt-1">
                                                @if (go12ViewModel.Number_10_UserBet != "0")
                                                {

                                                    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
                                                    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_10_UserBet))</div>
                                                }
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <!-- 10 DISABLED -->
                    <div class="betContainer col-2">
                        <div class="@(@IsWon_10 ? "winners" : "") border-box">
                            <div class="d-flex align-items-center">
                                <div class="betNumber col w-100">
                                    <button class="btn betBtn col">10</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <!-- NUMBER 09 -->
                @if (@IsOptionEnabled_9)
                {
                    <!-- 09 ENABLED -->
                    <div class="betContainer red col-2">
                        <a href="" @onclick:preventDefault @onclick='(() => SelectBetType("09"))'>
                            <div class="border-box @(@Number_09_UserBet != "0" ? "withbet" : "withoutbet")">
                                <div class="d-flex align-items-center">
                                    <div class="betNumber col">
                                        <button class="betBtn @(go12ViewModel.BetCombinationValue == Settings.Constants.Nine ? "numberActive" : "") col" @onclick='(() => SelectBetType("09"))'>
                                            9
                                            <div class="tokenSize mt-1">
                                                @if (go12ViewModel.Number_09_UserBet != "0")
                                                {

                                                    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
                                                    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_09_UserBet))</div>
                                                }
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <!-- 09 DISABLED -->
                    <div class="betContainer col-2">
                        <div class="@(@IsWon_9 ? "winners" : "") border-box">
                            <div class="d-flex align-items-center">
                                <div class="betNumber col w-100">
                                    <button class="btn betBtn col">9</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                <!-- NUMBER 08 -->
                @if (@IsOptionEnabled_8)
                {
                    <!-- 08 ENABLED -->
                    <div class="betContainer black col-2">
                        <a href="" @onclick:preventDefault @onclick='(() => SelectBetType("08"))'>
                            <div class="border-box @(@Number_08_UserBet != "0" ? "withbet" : "withoutbet")">
                                <div class="d-flex align-items-center">
                                    <div class="betNumber col">
                                        <button class="betBtn @(go12ViewModel.BetCombinationValue == Settings.Constants.Eight ? "numberActive" : "") col" @onclick='(() => SelectBetType("08"))'>
                                            8
                                            <div class="tokenSize mt-1">
                                                @if (go12ViewModel.Number_08_UserBet != "0")
                                                {

                                                    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
                                                    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_08_UserBet))</div>
                                                }
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <!-- 08 DISABLED -->
                    <div class="betContainer col-2">
                        <div class="@(@IsWon_8 ? "winners" : "") border-box">
                            <div class="d-flex align-items-center">
                                <div class="betNumber col w-100">
                                    <button class="btn betBtn col">8</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <!-- NUMBER 07 -->
                @if (@IsOptionEnabled_7)
                {
                    <!-- 07 ENABLED -->
                    <div class="betContainer red col-2">
                        <a href="" @onclick:preventDefault @onclick='(() => SelectBetType("07"))'>
                            <div class="border-box @(@Number_07_UserBet != "0" ? "withbet" : "withoutbet")">
                                <div class="d-flex align-items-center">
                                    <div class="betNumber ml-auto col">
                                        <button class="betBtn @(go12ViewModel.BetCombinationValue == Settings.Constants.Seven ? "numberActive" : "") col" @onclick='(() => SelectBetType("07"))'>
                                            7
                                            <div class="tokenSize mt-1">
                                                @if (go12ViewModel.Number_07_UserBet != "0")
                                                {

                                                    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
                                                    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_07_UserBet))</div>
                                                }
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <!-- 07 DISABLED -->
                    <div class="betContainer col-2">
                        <div class="@(@IsWon_7 ? "winners" : "") border-box">
                            <div class="d-flex align-items-center">
                                <div class="betNumber col w-100">
                                    <button class="btn betBtn col">7</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }



            </div>

            @*    <!-- TOKEN DISPLAY (07 - 12) -->
    <div class="d-flex row">
    <!-- USER BET 12 -->
    <div class="col showSelectedToken p-0" style=" border-bottom-left-radius: 25px;">
    @if (go12ViewModel.Number_12_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_12_UserBet))</div>
    }
    </div>

    <!-- USER BET 11 -->
    <div class="col showSelectedToken p-0">
    @if (go12ViewModel.Number_11_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_11_UserBet))</div>
    }
    </div>


    <!-- USER BET 10 -->
    <div class="col showSelectedToken p-0">
    @if (go12ViewModel.Number_10_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_10_UserBet))</div>
    }
    </div>
    <!-- USER BET 09 -->
    <div class="col showSelectedToken p-0">
    @if (go12ViewModel.Number_09_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_09_UserBet))</div>
    }
    </div>

    <!-- USER BET 08 -->
    <div class="col showSelectedToken p-0">
    @if (go12ViewModel.Number_08_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_08_UserBet))</div>
    }
    </div>


    <!-- USER BET 07 -->
    <div class="col showSelectedToken d-flex justify-content-center align-items-center  p-0" style=" border-bottom-right-radius: 25px;">
    @if (go12ViewModel.Number_07_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_07_UserBet))</div>
    }
    </div>
    </div> *@

            <!-- TOKEN POPUP -->
            <div class="@TokenDiv">
                <Token GameChips="@GameChips" />
            </div>
        </section>
    }
}

else @if ((@RoundStatusString == Constants.Closed || @RoundStatusString == Constants.Cancelled))
{
    <!--  MAIN BET -->
    <div class="mainBetContainer" style="display: flex">
        <!-- REGULAR BLACK -->
        <div class="col p-0">
            <MainBettingButton BetValueDisplay="@Settings.Constants.Black"
                               UserTotalBet_FixedPrizeRed="@go12ViewModel.UserTotalBet_FixedPrize_Red"
                               UserTotalBet_FixedPrizeBlack="@go12ViewModel.UserTotalBet_FixedPrize_Black"
                               OnClickCallback="@(() => SelectBetType("REGULAR-BLACK"))" />
        </div>
        <!-- REGULAR RED -->
        <div class="col p-0">
            <MainBettingButton BetValueDisplay="@Settings.Constants.Red"
                               UserTotalBet_FixedPrizeRed="@go12ViewModel.UserTotalBet_FixedPrize_Red"
                               UserTotalBet_FixedPrizeBlack="@go12ViewModel.UserTotalBet_FixedPrize_Black"
                               OnClickCallback="@(() => SelectBetType("REGULAR-RED"))" />
        </div>


    </div>

    <!-- NUMBERS -->
    <section class="main cancelledRegular">
        <div class="g12Titleheader d-flex row mb-0" style="background-color: #303030;border-top: solid 2px #b07c28; border-bottom: solid 2px #b07c28;">
            <p class="pl-2 d-flex justify-content-center col mb-0 text-light font-weight-bolder">Choose 1-12</p>
            <p class="pr-2 d-flex justify-content-center col mb-0 text-light font-weight-bolder">Win &nbsp; x10</p>
        </div>

        @*  <!-- TOKEN DISPLAY (01 - 06) -->
    <div class="d-flex row disabledDiv">
    <!-- USER BET 01 -->
    <div class="col showSelectedToken p-0 @(IsWon_1 ? "showSelectedTokenWinRed" : "")" style=" border-top-left-radius: 25px;">
    @if (go12ViewModel.Number_01_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_01_UserBet))</div>
    }
    </div>

    <!-- USER BET 02 -->
    <div class="col showSelectedToken p-0 @(IsWon_2 ? "showSelectedTokenWin" : "")">
    @if (go12ViewModel.Number_02_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_02_UserBet))</div>
    }
    </div>

    <!-- USER BET 03 -->
    <div class="col showSelectedToken p-0 @(IsWon_3 ? "showSelectedTokenWinRed" : "")">
    @if (go12ViewModel.Number_03_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_03_UserBet))</div>
    }
    </div>

    <!-- USER BET 04 -->
    <div class="col showSelectedToken  p-0 @(IsWon_4 ? "showSelectedTokenWin" : "")">
    @if (go12ViewModel.Number_04_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_04_UserBet))</div>
    }
    </div>

    <!-- USER BET 05 -->
    <div class="col showSelectedToken  p-0 @(IsWon_5 ? "showSelectedTokenWinRed" : "")">
    @if (go12ViewModel.Number_05_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_05_UserBet))</div>
    }
    </div>

    <!-- USER BET 06 -->
    <div class="col showSelectedToken  p-0 @(IsWon_6 ? "showSelectedTokenWin" : "")" style=" border-top-right-radius: 25px;">
    @if (go12ViewModel.Number_06_UserBet != "0")
    {
    <img src="/img/selectedToken.png" class="col showSelectedToken img-fluid p-0" />
    <div class="tokenText">@(NumFormatter(go12ViewModel.Number_06_UserBet))</div>
    }
    </div>
    </div> *@

        <!-- BETTING BUTTONS & TOKEN DISPLAY (07 - 12)-->
        <div>
            <!-- BETTING BUTTONS (01 - 06) -->
            <div class="row disabledDiv">
                <!-- NUMBER 01 -->
                <div class="betContainer redDisabled col-2">
                    <div class="border-box">
                        <div class="d-flex align-items-center">
                            <div class="betNumber col">
                                <button class="col betBtn w-100 @(IsWon_1 ? "winningNumberBlack" : "")">
                                    1
                                    <div class="  @(IsWon_1 ? "animationOut01 " : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_01_UserBet != "0" && IsWon_1)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_01_UserBet))</div>
                                            }
                                            else if (go12ViewModel.Number_01_UserBet != "0")
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_01_UserBet))</div>
                                            }

                                        </div>
                                    </div>
                                         <div class="  @(IsWon_1 ? "animationOut01 delay1 " : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_01_UserBet != "0" && IsWon_1)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_01_UserBet))</div>
                                            }
                                      

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_1 ? "animationOut01 delay2" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_01_UserBet != "0" && IsWon_1)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_01_UserBet))</div>
                                            }
                                       

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_1 ? "animationOut01 delay3" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_01_UserBet != "0" && IsWon_1)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_01_UserBet))</div>
                                            }
                                       

                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NUMBER 02 -->
                <div class="betContainer blackDisabled col-2">
                    <div class="border-box">
                        <div class="d-flex align-items-center">
                            <div class="betNumber col">
                                <button class="col betBtn w-100 @(IsWon_2 ? "winningNumberBlack" : "")">
                                    2
                                    <div class="  @(IsWon_2 ? "animationOut02" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_02_UserBet != "0" && IsWon_2)
                                            {


                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_02_UserBet))</div>


                                            }
                                            else if (go12ViewModel.Number_02_UserBet != "0")
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_02_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="  @(IsWon_2 ? "animationOut02 delay1" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_02_UserBet != "0" && IsWon_2)
                                            {


                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_02_UserBet))</div>


                                            }

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_2 ? "animationOut02 delay2" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_02_UserBet != "0" && IsWon_2)
                                            {


                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_02_UserBet))</div>


                                            }

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_2 ? "animationOut02 delay3" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_02_UserBet != "0" && IsWon_2)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_02_UserBet))</div>


                                            }

                                        </div>
                                    </div>

                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NUMBER 03 -->
                <div class="betContainer redDisabled col-2">
                    <div class="border-box">
                        <div class="d-flex align-items-center">
                            <div class="betNumber col">
                                <button class="col betBtn w-100 @(IsWon_3 ? "winningNumberBlack" : "")">
                                    3
                                    <div class="  @(IsWon_3 ? "animationOut03" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_03_UserBet != "0" && IsWon_3)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_03_UserBet))</div>
                                            }
                                            else if (go12ViewModel.Number_03_UserBet != "0")
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_03_UserBet))</div>
                                            }

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_3 ? "animationOut03 delay1" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_03_UserBet != "0" && IsWon_3)
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_03_UserBet))</div>
                                            }
                                       

                                        </div>
                                    </div>
                                         <div class="  @(IsWon_3 ? "animationOut03 delay2" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_03_UserBet != "0" && IsWon_3)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_03_UserBet))</div>
                                            }
                                      

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_3 ? "animationOut03 delay3" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_03_UserBet != "0" && IsWon_3)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_03_UserBet))</div>
                                            }
                                      

                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NUMBER 04 -->
                <div class="betContainer blackDisabled col-2">
                    <div class="border-box">
                        <div class="d-flex align-items-center">
                            <div class="betNumber col">
                                <button class="col betBtn w-100 @(IsWon_4 ? "winningNumberBlack" : "")">
                                    4
                                    <div class="  @(IsWon_4 ? "animationOut04" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_04_UserBet != "0" && IsWon_4)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_04_UserBet))</div>
                                            }
                                            else if (go12ViewModel.Number_04_UserBet != "0")
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_04_UserBet))</div>
                                            }

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_4 ? "animationOut04 delay1" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_04_UserBet != "0" && IsWon_4)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_04_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                            <div class="  @(IsWon_4 ? "animationOut04 delay2" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_04_UserBet != "0" && IsWon_4)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_04_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="  @(IsWon_4 ? "animationOut04 delay3" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_04_UserBet != "0" && IsWon_4)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_04_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NUMBER 05 -->
                <div class="betContainer redDisabled col-2">
                    <div class="border-box">
                        <div class="d-flex align-items-center">
                            <div class="betNumber col">
                                <button class="col betBtn w-100 @(IsWon_5 ? "winningNumberBlack" : "")">
                                    5
                                    <div class="  @(IsWon_5 ? "animationOut05" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_05_UserBet != "0" && IsWon_5)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_05_UserBet))</div>
                                            }
                                            else if (go12ViewModel.Number_05_UserBet != "0")
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_05_UserBet))</div>
                                            }

                                        </div>
                                    </div>
                                          <div class="  @(IsWon_5 ? "animationOut05 delay1" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_05_UserBet != "0" && IsWon_5)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_05_UserBet))</div>
                                            }
                                        

                                        </div>
                                    </div>
                                          <div class="  @(IsWon_5 ? "animationOut05 delay2" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_05_UserBet != "0" && IsWon_5)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_05_UserBet))</div>
                                            }
                                        

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_5 ? "animationOut05 delay3" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_05_UserBet != "0" && IsWon_5)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_05_UserBet))</div>
                                            }
                                     

                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NUMBER 06 -->
                <div class="betContainer blackDisabled col-2">
                    <div class="border-box">
                        <div class="d-flex align-items-center">
                            <div class="betNumber col">
                                <button class="col betBtn w-100 @(IsWon_6 ? "winningNumberBlack" : "")">
                                    6
                                    <div class="  @(IsWon_6 ? "animationOut06" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_06_UserBet != "0" && IsWon_6)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_06_UserBet))</div>
                                            }
                                            else if (go12ViewModel.Number_06_UserBet != "0")
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_06_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="  @(IsWon_6 ? "animationOut06 delay1" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_06_UserBet != "0" && IsWon_6)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_06_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                         <div class="  @(IsWon_6 ? "animationOut06 delay2" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_06_UserBet != "0" && IsWon_6)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_06_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="  @(IsWon_6 ? "animationOut06 delay3" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_06_UserBet != "0" && IsWon_6)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_06_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BETTING BUTTONS (07 - 12) -->
            <div class="row disabledDiv">
                <!-- NUMBER 12 -->
                <div class="betContainer blackDisabled col-2">
                    <div class="border-box">
                        <div class="d-flex align-items-center">
                            <div class="disbetNumber col p-0">
                                <button class="col betBtn w-100 @(IsWon_12 ? "winningNumberBlack" : "")">
                                    12
                                    <div class="  @(IsWon_12 ? "animationOut12" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_12_UserBet != "0" && IsWon_12)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_12_UserBet))</div>
                                            }
                                            else if (go12ViewModel.Number_12_UserBet != "0")
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_12_UserBet))</div>
                                            }

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_12 ? "animationOut12 delay1" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_12_UserBet != "0" && IsWon_12)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_12_UserBet))</div>
                                            }
                                       

                                        </div>
                                    </div>
                                        <div class="  @(IsWon_12 ? "animationOut12 delay2" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_12_UserBet != "0" && IsWon_12)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_12_UserBet))</div>
                                            }
                                       

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_12 ? "animationOut12 delay3" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_12_UserBet != "0" && IsWon_12)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_12_UserBet))</div>
                                            }


                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NUMBER 11 -->
                <div class="betContainer redDisabled col-2">
                    <div class="border-box">
                        <div class="d-flex align-items-center">
                            <div class="betNumber col">
                                <button class="col betBtn w-100 @(IsWon_11 ? "winningNumberBlack" : "")">
                                    11
                                    <div class="  @(IsWon_11 ? "animationOut11" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_11_UserBet != "0" && IsWon_11)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_11_UserBet))</div>
                                            }
                                            else if (go12ViewModel.Number_11_UserBet != "0")
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_11_UserBet))</div>
                                            }

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_11 ? "animationOut11 delay1" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_11_UserBet != "0" && IsWon_11)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_11_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                           <div class="  @(IsWon_11 ? "animationOut11 delay2" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_11_UserBet != "0" && IsWon_11)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_11_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="  @(IsWon_11 ? "animationOut11 delay3" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_11_UserBet != "0" && IsWon_11)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_11_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- NUMBER 10 -->
                <div class="betContainer blackDisabled col-2">
                    <div class="border-box">
                        <div class="d-flex align-items-center">
                            <div class="betNumber col">
                                <button class="col betBtn w-100 @(IsWon_10 ? "winningNumberBlack" : "")">
                                    10
                                    <div class="  @(IsWon_10 ? "animationOut10" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_10_UserBet != "0" && IsWon_10)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_10_UserBet))</div>
                                            }
                                            else if (go12ViewModel.Number_10_UserBet != "0")
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_10_UserBet))</div>
                                            }

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_10 ? "animationOut10 delay1" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_10_UserBet != "0" && IsWon_10)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_10_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                          <div class="  @(IsWon_10 ? "animationOut10 delay2" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_10_UserBet != "0" && IsWon_10)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_10_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="  @(IsWon_10 ? "animationOut10 delay3" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_10_UserBet != "0" && IsWon_10)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_10_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- NUMBER 09 -->
                <div class="betContainer redDisabled col-2">
                    <div class="border-box">
                        <div class="d-flex align-items-center">
                            <div class="betNumber col">
                                <button class="col betBtn w-100 @(IsWon_9 ? "winningNumberBlack" : "")">
                                    9
                                    <div class="  @(IsWon_9 ? "animationOut9" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_09_UserBet != "0" && IsWon_9)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_09_UserBet))</div>
                                            }
                                            else if (go12ViewModel.Number_09_UserBet != "0")
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_09_UserBet))</div>
                                            }

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_9 ? "animationOut9 delay1" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_09_UserBet != "0" && IsWon_9)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_09_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                         <div class="  @(IsWon_9 ? "animationOut9 delay2" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_09_UserBet != "0" && IsWon_9)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_09_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="  @(IsWon_9 ? "animationOut9 delay3" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_09_UserBet != "0" && IsWon_9)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_09_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NUMBER 08 -->
                <div class="betContainer blackDisabled col-2">
                    <div class="border-box">
                        <div class="d-flex align-items-center">
                            <div class="betNumber col">
                                <button class="col betBtn w-100 @(IsWon_8 ? "winningNumberBlack" : "")">
                                    8
                                    <div class="  @(IsWon_8 ? "animationOut8" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_08_UserBet != "0" && IsWon_8)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_08_UserBet))</div>
                                            }
                                            else if (go12ViewModel.Number_08_UserBet != "0")
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_08_UserBet))</div>
                                            }

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_8 ? "animationOut8 delay1" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_08_UserBet != "0" && IsWon_8)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_08_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="  @(IsWon_8 ? "animationOut8 delay2" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_08_UserBet != "0" && IsWon_8)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_08_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="  @(IsWon_8 ? "animationOut8 delay3" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_08_UserBet != "0" && IsWon_8)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_08_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NUMBER 07 -->
                <div class="betContainer redDisabled col-2">
                    <div class="border-box">
                        <div class="d-flex align-items-center">
                            <div class="betNumber col">
                                <button class="col betBtn w-100 @(IsWon_7 ? "winningNumberBlack" : "")">
                                    7
                                    <div class="  @(IsWon_7 ? "animationOut7" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_07_UserBet != "0" && IsWon_7)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_07_UserBet))</div>
                                            }
                                            else if (go12ViewModel.Number_07_UserBet != "0")
                                            {
                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_07_UserBet))</div>
                                            }

                                        </div>
                                    </div>
                                    <div class="  @(IsWon_7 ? "animationOut7 delay1" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_07_UserBet != "0" && IsWon_7)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_07_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                         <div class="  @(IsWon_7 ? "animationOut7 delay2" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_07_UserBet != "0" && IsWon_7)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_07_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="  @(IsWon_7 ? "animationOut7 delay3" : "")">
                                        <div class="tokenSize mt-1">
                                            @if (go12ViewModel.Number_07_UserBet != "0" && IsWon_7)
                                            {

                                                <img src="/img/selectedToken.png" class="col showSelectedToken  p-0" />
                                                <div class="tokenText">@(NumFormatter(go12ViewModel.Number_07_UserBet))</div>
                                            }
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*   <!-- TOKEN DISPLAY -->
        <div class="d-flex row disabledDiv">
        <!-- USER BET 12 -->
        <div class="col showSelectedToken d-flex justify-content-center align-items-center  p-0 @(IsWon_12 ? "showSelectedTokenWin" : "")" style=" border-bottom-left-radius: 25px;">
        @if (go12ViewModel.Number_12_UserBet != "0")
        {
        <img src="/img/selectedToken.png" class="col showSelectedToken p-0" />
        <div class="tokenText">@(NumFormatter(go12ViewModel.Number_12_UserBet))</div>
        }
        </div>

        <!-- USER BET 11 -->
        <div class="col showSelectedToken p-0 @(IsWon_11 ? "showSelectedTokenWinRed" : "")">
        @if (go12ViewModel.Number_11_UserBet != "0")
        {
        <img src="/img/selectedToken.png" class="col showSelectedToken p-0" />
        <div class="tokenText">@(NumFormatter(go12ViewModel.Number_11_UserBet))</div>
        }
        </div>

        <!-- USER BET 10 -->
        <div class="col showSelectedToken p-0 @(IsWon_10 ? "showSelectedTokenWin" : "")">
        @if (go12ViewModel.Number_10_UserBet != "0")
        {
        <img src="/img/selectedToken.png" class="col showSelectedToken p-0" />
        <div class="tokenText">@(NumFormatter(go12ViewModel.Number_10_UserBet))</div>
        }
        </div>

        <!-- USER BET 09 -->
        <div class="col showSelectedToken  p-0 @(IsWon_9 ? "showSelectedTokenWinRed" : "")">
        @if (go12ViewModel.Number_09_UserBet != "0")
        {
        <img src="/img/selectedToken.png" class="col showSelectedToken p-0" />
        <div class="tokenText">@(NumFormatter(go12ViewModel.Number_09_UserBet))</div>
        }
        </div>

        <!-- USER BET 08 -->
        <div class="col showSelectedToken  p-0 @(IsWon_8 ? "showSelectedTokenWin" : "")">
        @if (go12ViewModel.Number_08_UserBet != "0")
        {
        <img src="/img/selectedToken.png" class="col showSelectedToken p-0" />
        <div class="tokenText">@(NumFormatter(go12ViewModel.Number_08_UserBet))</div>
        }
        </div>

        <!-- USER BET 07 -->
        <div class="col showSelectedToken  p-0 @(IsWon_7 ? "showSelectedTokenWinRed" : "")" style=" border-bottom-right-radius: 25px;">
        @if (go12ViewModel.Number_07_UserBet != "0")
        {
        <img src="/img/selectedToken.png" class="col showSelectedToken p-0" />
        <div class="tokenText">@(NumFormatter(go12ViewModel.Number_07_UserBet))</div>
        }
        </div>
        </div> *@

        </div>

        @if (@IsFixedPrizeCancelled)
        {
            <div class="regularbetCancelled text-center">
                <strong class="d-block text-center">Cancelled</strong>
                <strong>Bets Returned</strong>
            </div>
        }
    </section>
}