@using System.Collections.ObjectModel
@using static GoPlayAsiaWebApp.Goplay.ViewModels.Go12ViewModel


@* <div class="legend row d-flex text-center justify-content-center mt-1">
    <div class="trends col p-0">TRENDS</div>
    <div class="legendLeft col p-0">BLACK</div>
    <div class="legendRight col p-0">RED</div>
    <div class="legendCancel col p-0">CANCELLED</div>
</div>
 *@

@if (PayoutTrendsDisplay != null)
{
    <div class="mainCon row flex-nowrap ">

        @{

            if (PayoutTrendsDisplay.ToList().Count > 0)
            {
                lastRound = PayoutTrendsDisplay[0].CurrentList.Max(x => x.RoundNumber);
            }
        }
        @foreach (var _trends in PayoutTrendsDisplay)
        {
            @* <Virtualize Items="PayoutTrendsDisplay" Context="_trends"> *@
            @if (_trends.CurrentList.ToList().Count > 0)
            {
                <div class="innerCon col" style="padding: 3px; margin: 2px;">
                    @foreach (var _trenditems in _trends.CurrentList)
                    {
                        @* <Virtualize Items="_trends.CurrentList" Context="_trenditems"> *@
                        <div class=" p-0 d-block @_trenditems.TrendsResultColor">
                            @if (lastRound == _trenditems.RoundNumber)
                        {
                            <span class="resultNo d-flex justify-content-center align-items-center" style="border: #60fe00  2px solid;border-radius: 50%; width: 20px; height: 20px; margin-top: -1px;
                                 margin-left: -1px;">
                                <strong style="margin-top: 2px; border-color: green"> @_trenditems.NonCardsResultDisplay </strong>
                            </span>
                        }
                        else
                        {
                            <span class="resultNo d-flex justify-content-center align-items-center">
                                <strong style="margin-top: 2px;"> @_trenditems.NonCardsResultDisplay </strong>
                            </span>
                        }

                    </div>

                    }
                    @* </Virtualize> *@
                </div>
            }
        }
        @* </Virtualize> *@
    </div>
}

@if (OddsTrendsDisplay != null)
{
    <div class="romainCon row flex-nowrap text-center">
        @*   @foreach (var _trends in OddsTrendsDisplay)
    {*@
        <Virtualize Items="OddsTrendsDisplay" Context="_trends">
            @if (_trends.CurrentList.ToList().Count > 0)
            {
                <div class="roinnerCon col-m-2 m-0">
                    @* @foreach (var _trenditems in _trends.CurrentList)
            {*@
                    <Virtualize Items="_trends.CurrentList" Context="_trenditems">
                        <div class="row m-0 @_trenditems.OddsTrendsResultColor">
                            @_trenditems.TrendsNumberDisplay
                        </div>
                    </Virtualize>
                    @*}*@
                </div>
            }
            @*}*@
        </Virtualize>
    </div>
}
@* <div class="" style="padding-bottom: 80px;">
</div> *@
@code {
    [Parameter]
    public ObservableCollection<TrendsDisplayModel> PayoutTrendsDisplay { get; set; }
    [Parameter]
    public ObservableCollection<TrendsDisplayModel> OddsTrendsDisplay { get; set; }
    public int lastRound { get; set; } = 0;
}
