@using System.Collections.ObjectModel;
@using static GoplayasiaBlazor.Models.Constants.Settings;
@using static GoPlayAsiaWebApp.Goplay.ViewModels.DiceViewModel;

<div class="result-header container text-center">
    <h6 class="mb-0 up-font text-center">Game Results</h6>
</div>
@if (TrendsDisplay != null)
{
    <div id="diceGameResultsContainer" class="container overflow-auto">
        <div class="row">
            <Virtualize Items="TrendsDisplay" Context="_trends">
                <div class="flex ascending">
                    <Virtualize Items="_trends.CurrentList" Context="_trenditems">
                        <p class="@(_trenditems.RoundStatus == (int)RoundStatus.Cancelled ? "canceled":"")">
                            <span>G# @_trenditems.TrendsNumberDisplay</span>
                            @if (_trenditems.NonCardsResultDisplay.Length >= 3)
                            {
                                <span class="yellow">@_trenditems.FirstDiceResult</span>
                                <span class="blue">@_trenditems.SecondDiceResult</span>
                                <span class="red">@_trenditems.ThirdDiceResult</span>
                            }
                        </p>
                    </Virtualize>
                </div>
            </Virtualize>
        </div>
    </div>
}

@code {
    [Parameter] public ObservableCollection<TrendsDisplayModel> TrendsDisplay { get; set; }
}