@using GoPlayAsiaWebApp.Goplay.ViewModels
@using static GoplayasiaBlazor.Models.Constants.Settings
@inject DropwinViewModel dropwinViewModel;
@inject IToastService toastService;
@if (RoundStatusString == Constants.Open)
{
    <section class="mainCon">
        @* START LUCKY PICK *@
        <div class="LuckyPickCon mt-2">
            <div class="row d-flex m-0 p-0">
                <div class="col-1 m-0 p-0"></div>
                <div class="col-5 m-0 p-0 text-left">
                    <button disabled=@luckypickdisabled class="LuckyPickBtns x1 btn @(@dropwinViewModel.IsLuckyPick1 ? "btn-warning" : " " )" @onclick:preventDefault @onclick='(() => SetLuckyPickBet("LuckyPick"))'>LUCKY PICK X1</button>
                </div>
                <div class="col-5 m-0 p-0 text-right">
                    <button disabled=@luckypickdisabled class="LuckyPickBtns x5 btn @(@dropwinViewModel.IsLuckyPick5 ? "btn-warning": " ")" @onclick:preventDefault @onclick='(() => SetLuckyPickBet("LuckyPickx5"))'>LUCKY PICK X5</button>
                </div>
                <div class="col-1 m-0 p-0"></div>
            </div>
        </div>

        @* START BET FORMS *@
        <div class="PlaceCombinationCon text-center  m-0 p-0">

            <a class="F2Form @F2ActiveHeader" @onclick:preventDefault @onclick='(() => ClickBetButton("F2",false))'>
                @if (showArrow)
                {
                    <div class="arrow bounce p-0 m-0">
                        <span class="fa fa-arrow-down fa-2x"></span>
                    </div>
                }
                <div class="PlaceCombinationLabels row d-flex m-0 p-0 text-center">
                    <div class="col-3 PlaceCombinationFormLabel-1 m-0 p-0 SelectGame">SELECT GAME</div>
                    <div class="col-3 PlaceCombinationFormLabel-1 m-0 p-0">2 LETTERS (A-J)</div>
                    <div class="col-2 PlaceCombinationFormLabel-3 m-0 p-0">BET</div>
                    <div class="col-2 PlaceCombinationFormLabel-4 m-0 p-0">MULTIPLIER</div>
                    <div class="col-2 PlaceCombinationFormLabel-5 m-0 p-0">TOTAL</div>
                </div>

                <div class="PlaceCombinationForms row d-flex m-0 p-0">
                    <div class="CombinationType col-3 m-0 p-0">
                        <div class="CombinationTypeLabel">F2 GAME</div>
                        <div class="CombinationTypePayout">@dropwinViewModel.RatioDisplay_F2</div>
                        <div class="CombinationTypeBorder"></div>
                    </div>
                    <div class="CombinationValue col-3 m-0 p-0">
                        @if (SelGameType == "F2")
                        {
                            <span class="CombinationValueInput" placeholder="A-Z">@dropwinViewModel.LetterValue</span>
                            <button class="clearBtn" @onclick='(() => RemoveLastCharacter())'>X</button>
                            @if (String.IsNullOrEmpty(@dropwinViewModel.LetterValue))
                            {
                                <span class="placeHolder">INPUT<br />LETTER</span>
                            }
                        }
                        else
                        {
                            <span class="placeHolder">INPUT<br />LETTER</span>
                        }
                    </div>
                    <div class="CombinationBet col-2 m-0 p-0 text-center"><img src="/img/gold-chip-10.png" /></div>
                    @if (SelGameType == "F2")
                    {
                        <div class="CombinationMultiplier col-2 m-0 p-0">@dropwinViewModel.BetMultiplier</div>
                        <div class="CombinationTotal col-2 m-0 p-0">@dropwinViewModel.BetAmountDisplay</div>
                    }
                    else
                    {
                        <div class="CombinationMultiplier DisabledForm col-2 m-0 p-0">&mdash;</div>
                        <div class="CombinationTotal DisabledForm col-2 m-0 p-0">&mdash;</div>
                    }
                </div>
            </a>

            <a class="F3Form @F3ActiveHeader" @onclick:preventDefault @onclick='(() => ClickBetButton("F3",false))'>
                <div class="PlaceCombinationLabels row d-flex m-0 p-0 text-center">
                    <div class="col-3 PlaceCombinationFormLabel-1 m-0 p-0 SelectGame">SELECT GAME</div>
                    <div class="col-3 PlaceCombinationFormLabel-1 m-0 p-0">3 LETTERS (A-J)</div>
                    <div class="col-2 PlaceCombinationFormLabel-3 m-0 p-0">BET</div>
                    <div class="col-2 PlaceCombinationFormLabel-4 m-0 p-0">MULTIPLIER</div>
                    <div class="col-2 PlaceCombinationFormLabel-5 m-0 p-0">TOTAL</div>
                </div>

                <div class="PlaceCombinationForms row d-flex m-0 p-0">
                    <div class="CombinationType col-3 m-0 p-0">
                        <div class="CombinationTypeLabel">F3 GAME</div>
                        <div class="CombinationTypePayout">@dropwinViewModel.RatioDisplay_F3</div>
                        <div class="CombinationTypeBorder"></div>
                    </div>
                    <div class="CombinationValue col-3 m-0 p-0">
                        @if (SelGameType == "F3")
                        {
                            <span class="CombinationValueInput" placeholder="A-Z">@dropwinViewModel.LetterValue</span>
                            <button class="clearBtn" @onclick='(() => RemoveLastCharacter())'>X</button>
                            @if (String.IsNullOrEmpty(@dropwinViewModel.LetterValue))
                            {
                                <span class="placeHolder">INPUT<br />LETTER</span>
                            }
                        }
                        else
                        {
                            <span class="placeHolder">INPUT<br />LETTER</span>
                        }
                    </div>
                    <div class="CombinationBet col-2 m-0 p-0 text-center"><img src="/img/gold-chip-10.png" /></div>
                    @if (SelGameType == "F3")
                    {
                        <div class="CombinationMultiplier col-2 m-0 p-0">@dropwinViewModel.BetMultiplier</div>
                        <div class="CombinationTotal col-2 m-0 p-0">@dropwinViewModel.BetAmountDisplay</div>
                    }
                    else
                    {
                        <div class="CombinationMultiplier DisabledForm col-2 m-0 p-0">&mdash;</div>
                        <div class="CombinationTotal DisabledForm col-2 m-0 p-0">&mdash;</div>
                    }
                </div>
            </a>

            <a class="A4Form @All4ActiveHeader" @onclick:preventDefault @onclick='(() => ClickBetButton("ALL4",false ))'>
                <div class="PlaceCombinationLabels row d-flex m-0 p-0 text-center">
                    <div class="col-3 PlaceCombinationFormLabel-1 m-0 p-0 SelectGame">SELECT GAME</div>
                    <div class="col-3 PlaceCombinationFormLabel-1 m-0 p-0">4 LETTERS (A-J)</div>
                    <div class="col-2 PlaceCombinationFormLabel-3 m-0 p-0">BET</div>
                    <div class="col-2 PlaceCombinationFormLabel-4 m-0 p-0">MULTIPLIER</div>
                    <div class="col-2 PlaceCombinationFormLabel-5 m-0 p-0">TOTAL</div>
                </div>

                <div class="PlaceCombinationForms row d-flex m-0 p-0">
                    <div class="CombinationType col-3 m-0 p-0">
                        <div class="CombinationTypeLabel">A4 GAME</div>
                        <div class="CombinationTypePayout">@dropwinViewModel.RatioDisplay_All4</div>
                        <div class="CombinationTypeBorder"></div>
                    </div>
                    <div class="CombinationValue col-3 m-0 p-0">
                        @if (SelGameType == "ALL4")
                        {
                            <span class="CombinationValueInput" placeholder="A-Z">@dropwinViewModel.LetterValue</span>
                            <button class="clearBtn" @onclick='(() => RemoveLastCharacter())'>X</button>
                            @if (String.IsNullOrEmpty(@dropwinViewModel.LetterValue))
                            {
                                <span class="placeHolder">INPUT<br />LETTER</span>
                            }
                        }
                        else
                        {
                            <span class="placeHolder">INPUT<br />LETTER</span>
                        }
                    </div>
                    <div class="CombinationBet col-2 m-0 p-0 text-center"><img src="/img/gold-chip-10.png" /></div>
                    @if (SelGameType == "ALL4")
                    {
                        <div class="CombinationMultiplier col-2 m-0 p-0">@dropwinViewModel.BetMultiplier</div>
                        <div class="CombinationTotal col-2 m-0 p-0">@dropwinViewModel.BetAmountDisplay</div>
                    }
                    else
                    {
                        <div class="CombinationMultiplier DisabledForm col-2 m-0 p-0">&mdash;</div>
                        <div class="CombinationTotal DisabledForm col-2 m-0 p-0">&mdash;</div>
                    }
                </div>
            </a>
        </div>

        @* START BET BUTTONS PICK *@
        <div class="clear-BetCon row d-flex m-0 p-0">
            <div class="col-1 m-0 p-0"></div>
            <button class="dwclearBotton col-5 btn btn-danger btn-md" @onclick='(() => ClearBet())'>CLEAR</button>
            <button style="background-color: @(@dropwinViewModel.IsPlaceBetEnabled? "#2ad355" : "#226c45");" class="dwbetBotton col-5 m-0 p-0 btn btn-success btn-md @(@dropwinViewModel.IsPlaceBetEnabled? "": "disabled")" @onclick='(() => PlaceBet())'>BET</button>
            <div class="col-1 m-0 p-0"></div>
        </div>
        @* END BET BUTTONS PICK *@
    </section>

    <!--START TOKEN HERE-->
    <div class="tokenMainCon">
        @if (@GameChips != null && IsChipsVisible)
        {
            if (@dropwinViewModel.IsPlaceBetEnabled)
            {
                @* START BET MULTIPLIER *@
                <div class="betMultiplier">
                    <div class="selectTokenCon row d-flex">
                        <p class="SelectMultiplier">CHOOSE MULTIPLIER</p>
                    </div>

                    <div class="innerConToken row justify-content-between pl-2 pr-2">
                        @if (@GameChips.Chip1Display != null)
                        {
                            <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip1, GameChips.Chip1Display))'>
                                <div class="tokenCon">
                                    <img src="/img/new-token1.png" />

                                    <p class="betAmount">@GameChips.Chip1Display</p>
                                </div>
                            </a>
                        }
                        @if (@GameChips.Chip2Display != null)
                        {
                            <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip2, GameChips.Chip2Display))'>
                                <div class="tokenCon">
                                    <img src="/img/200.png" />
                                    <p class="betAmount">@GameChips.Chip2Display</p>
                                </div>
                            </a>
                        }
                        @if (@GameChips.Chip3Display != null)
                        {
                            <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip3, GameChips.Chip3Display))'>
                                <div class="tokenCon">
                                    <img src="/img/300.png" />
                                    <p class="betAmount">@GameChips.Chip3Display</p>
                                </div>
                            </a>
                        }
                        @if (@GameChips.Chip4Display != null)
                        {
                            <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip4,GameChips.Chip4Display))'>
                                <div class="tokenCon">
                                    <img src="/img/500.png" />
                                    <p class="betAmount">@GameChips.Chip4Display</p>
                                </div>
                            </a>
                        }
                        @if (@GameChips.Chip5Display != null)
                        {
                            <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip5,GameChips.Chip5Display))'>
                                <div class="tokenCon">
                                    <img src="/img/1k.png" />
                                    <p class="betAmount">@GameChips.Chip5Display</p>
                                </div>
                            </a>
                        }
                    </div>
                    <div class="innerConToken row mt-3 justify-content-between pl-2 pr-2">
                        @if (@GameChips.Chip6Display != null)
                        {
                            <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip6,GameChips.Chip6Display))'>
                                <div class="tokenCon">
                                    <img src="/img/1-5k.png" />
                                    <p class="betAmount black">@GameChips.Chip6Display</p>
                                </div>
                            </a>
                        }
                        @if (@GameChips.Chip7Display != null)
                        {
                            <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip7, GameChips.Chip7Display))'>
                                <div class="tokenCon">
                                    <img src="/img/2k.png" />
                                    <p class="betAmount">@GameChips.Chip7Display</p>
                                </div>
                            </a>
                        }
                        @if (@GameChips.Chip8Display != null)
                        {
                            <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip8,GameChips.Chip8Display))'>
                                <div class="tokenCon">
                                    <img src="/img/3k.png" />
                                    <p class="betAmount">@GameChips.Chip8Display</p>
                                </div>
                            </a>
                        }
                        @if (@GameChips.Chip9Display != null)
                        {
                            <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip9,GameChips.Chip9Display))'>
                                <div class="tokenCon">
                                    <img src="/img/5k.png" />
                                    <p class="betAmount">@GameChips.Chip9Display</p>
                                </div>
                            </a>
                        }
                        @if (@GameChips.Chip10Display != null)
                        {
                            <a href="/" @onclick:preventDefault @onclick='(() => SetBetAmount(GameChips.Chip10,GameChips.Chip10Display))'>
                                <div class="tokenCon">
                                    <img src="/img/10k.png" />
                                    <p class="betAmount x100">@GameChips.Chip10Display</p>
                                </div>
                            </a>
                        }
                    </div>
                </div>
                @* END BET MULTIPLIER *@
            }
            else
            {
                @* START BET LETTERS *@
                @if (@IsChipsVisible || 1 == 1)
                {
                    <div class="betLetters" @ref="txtbetletters">
                        <div class="selectTokenCon row d-flex m-0 p-0">
                            <p class="SelectChips">CHOOSE LETTERS</p>
                        </div>
                        <div class="betInnerCon m-0 p-0">
                            <div class="letterCon row justify-content-center justify-content-between sm">
                                <!--START top bot div-->
                                <div class="lettersBtn col">
                                    <button href="#" class="btn btns" @onclick='(() => AddCharacter("A"))'>A<span class="topNumber">1</span></button>
                                </div>
                                <div class="lettersBtn col">
                                    <button class="btn btns" @onclick='(() => AddCharacter("B"))'>B<span class="topNumber">2</span></button>
                                </div>
                                <div class="lettersBtn col">
                                    <button class="btn btns" @onclick='(() => AddCharacter("C"))'>C<span class="topNumber">3</span></button>
                                </div>
                                <div class="lettersBtn col">
                                    <button class="btn btns" @onclick='(() => AddCharacter("D"))'>D<span class="topNumber">4</span></button>
                                </div>
                                <div class="lettersBtn col">
                                    <button class="btn btns" @onclick='(() => AddCharacter("E"))'>E<span class="topNumber">5</span></button>
                                </div>

                            </div>
                            <div class="letterCon row mt-2 justify-content-center justify-content-between">

                                <div class="lettersBtn col">
                                    <button class="btn btns" @onclick='(() => AddCharacter("F"))'>F<span class="topNumber">6</span></button>
                                </div>
                                <div class="lettersBtn col">
                                    <button class="btn btns" @onclick='(() => AddCharacter("G"))'>G<span class="topNumber">7</span></button>
                                </div>
                                <div class="lettersBtn col">
                                    <button class="btn btns" @onclick='(() => AddCharacter("H"))'>H<span class="topNumber">8</span></button>
                                </div>
                                <div class="lettersBtn col">
                                    <button class="btn btns" @onclick='(() => AddCharacter("I"))'>I<span class="topNumber">9</span></button>
                                </div>
                                <div class="lettersBtn col">
                                    <button class="btn btns" @onclick='(() => AddCharacter("J"))'>J<span class="topNumber">0</span></button>
                                </div>

                            </div><!--END top bot div-->
                        </div>
                    </div>
                }
                @* END BET LETTERS *@
            }

        }

    </div>
    <div class="mb-5"></div>
}
else @if (@RoundStatusString == Constants.Closed || @RoundStatusString == Constants.Cancelled || @RoundStatusString == Constants.Paused)
{
    <div class="selectTokenCon row d-flex">
        <p class="TotalBetsSummary">TOTAL BETS: @dropwinViewModel.TotalAccumulatedBetsString</p>
    </div>

    <section class="mainCon">
        @if (!String.IsNullOrEmpty(@dropwinViewModel.GameResult))
        {
            <div class="text-center ">
                <p class="gameResultDisplay text-center">RESULT : <span class="resultColored">@dropwinViewModel.GameResult</span></p>
            </div>
        }
    </section>
}
