@page "/ForgotPassword"
<section class="d-flex align-items-center justify-content-center">
    <div class="mainCon row d-block mb-0">
        <img class="pagcorIcon" src="/img/login-img.webp" />
        <p class="text-center col text-light">@((MarkupString)this.message)</p>

        <input class="form-control mb-2" hidden="@hideOptMobile" @bind-value="_forgotpasswordViewModel.MobileNumber" type="tel" placeholder="09XXXXXXXXX">
        <button class="emailBtn col btn" hidden="@hideOptMobile" onclick="@SubmitOTP">Request OTP</button>

        <input class="form-control mb-2" hidden="@hideOptEmail" @bind-value="_forgotpasswordViewModel.EmailAddress" type="email" placeholder="Email Address">
        <button class="emailBtn col btn" hidden="@hideOptEmail" onclick="@SubmitCode">Request Code</button>



        <input class="form-control mb-2" hidden="@hideVerification" @bind-value="_forgotpasswordViewModel.Code" type="number" placeholder="XXXXXX">
        <button class="reqCode col btn text-right" hidden="@hideVerification" onclick="@RequestNewCode">Request New Code</button>
        <button class="emailBtn col btn" hidden="@hideVerification" onclick="@VerifyCode">Verify</button>

        <input class="form-control mb-2" hidden="@hidePassword" @bind-value="_forgotpasswordViewModel.NewPassword" type="password" placeholder="New Password">
        <input class="form-control mb-2" hidden="@hidePassword" @bind-value="_forgotpasswordViewModel.ConfirmNewPassword" type="password" placeholder="Confirm New Password">
        <button class="emailBtn col btn" hidden="@hidePassword" onclick="@SubmitNewPassword">Submit</button>

        <button class="emailBtn col btn" hidden="@hideOptButton" onclick="@optEmail">Email Address</button>
        <button class="emailBtn col btn" hidden="@hideOptButton" onclick="@optMobile">Mobile Number</button>
        <div class="text-center col">
            <p class="text-light mb-6">Return to <a href="/">Login Page</a></p>
            <p class="text-light">Don't Have an Account?<span class=""><a href="/signup"> Register Now</a></span></p>
        </div>
    </div>



</section>