@using GoplayasiaBlazor.Models.Constants
@using GoPlayAsiaWebApp.Goplay.ViewModels
@using GoPlayAsiaWebApp.Goplay.Games.Shared
@inject First3ViewModel first3ViewModel;

@if (BetValueDisplay == Settings.Constants.Gold)
{
    <!-- SAME SUIT GOLD -->
    <button class="col borderGold btn p-0 d-block tieRelative @(Settings.Constants.SuitsGold == WinnerResults ? "winSameSuitGold" : SameSuiteGold)" @onclick=OnClickCallback disabled="@isDisabled">
        <p class="font-weight-bold smallHeader  smallHeader mt-1" style="font-size:16px;line-height: normal; margin-bottom: 3px;">Same SUITS </p>

        <div class="d-flex">
            @if (first3ViewModel.F3Suits != null)
            {
                <p class="payout col p-0  d-flex justify-content-center font-weight-bold  @(UserTotalBet_SuitsGold != "0" ? "withBetF3" : "") ">
                    @(UserTotalBet_SuitsGold != "0" ? SampleWinSuitsGold : "x" + first3ViewModel.F3Suits.FixedPriceMultiplier.ToString("G29"))
                </p>
            }
        </div>

        <!-- TOKEN DISPLAY -->
        <TokenDisplay Amount="@UserTotalBet_SuitsGold" />
        @if (first3ViewModel.Token_Animation != "" && first3ViewModel.CurrentGameType == (int)Settings.F3SubBetTypes.SameSuiteGold)
        {
            <div class="additionaltokencontainer" style="--animation: @first3ViewModel.Token_Animation">
                <img src="/img/selectedToken.png" class="tokenSelectedBet" />
                <p class="selectedAmountToken">@first3ViewModel.BetAmount</p>
            </div>
        }
    </button>
}
else if (BetValueDisplay == Settings.Constants.Silver)
{
    <!-- SAME SUIT SILVER -->
    <button class="col borderGold  btn p-0 d-block tieRelative @(Settings.Constants.SuitsSilver == WinnerResults ?  "winSameSuitSilver" : SameSuiteSilver)" @onclick=OnClickCallback disabled="@isDisabled">
        <p class="font-weight-bold smallHeader  smallHeader mt-1" style="font-size:16px; line-height: normal;margin-bottom: 3px;">Same SUITS </p>

        <div class="d-flex">
            @if (first3ViewModel.F3Suits != null)
            {
                <p class="payout col p-0  d-flex justify-content-center mb-2 font-weight-bold @(UserTotalBet_SuitsSilver != "0" ? "withBetF3" : "") ">
                    @(UserTotalBet_SuitsSilver != "0" ? SampleWinSuitsSilver : "x" + first3ViewModel.F3Suits.FixedPriceMultiplier.ToString("G29"))
                </p>
            }
        </div>

        <!-- TOKEN DISPLAY -->
        <TokenDisplay Amount="@UserTotalBet_SuitsSilver" />
        @if (first3ViewModel.Token_Animation != "" && first3ViewModel.CurrentGameType == (int)Settings.F3SubBetTypes.SameSuiteSilver)
        {
            <div class="additionaltokencontainerSilver" style="--animation: @first3ViewModel.Token_Animation">
                <img src="/img/selectedToken.png" class="tokenSelectedBet" />
                <p class="selectedAmountToken">@first3ViewModel.BetAmount</p>
            </div>
        }
    </button>
}