@using GoPlayAsiaWebApp.Games.Shared
@using GoplayasiaBlazor.Models.Constants
@using GoPlayAsiaWebApp.ViewModels
@inject Lucky9ViewModel luckyViewModel;

@if (BetValueDisplay == Settings.Constants.Player)
{
    <!-- PLAYER PAIR -->
    <button style="border-radius: 44%; height: 44px;" @onclick=OnClickCallback class="@(Settings.Constants.PairPlayer == WinnerResults ? "winAnyPairPlayer" : SubAnyPairPlayer) tieRelative col borderGold btn p-0" disabled="@isDisabled">
        <div class="d-block">
            <p class="font-weight-bold smallHeader mb-1" style="font-size:10px; margin-top: 2px;">
                <span>ANY</span>
                <span style="font-size:12px">PAIR</span>
            </p>
            @* <p class="font-weight-bold" style="line-height: normal; font-size: 13px;">Any PAIR</p> *@
        </div>
        <div class="d-flex">
            @if (luckyViewModel.L9Pair != null)
            {
                <p style="font-size: 13px;" class="payout font-weight-bold col p-0 d-flex justify-content-center mb-0 @(UserTotalBet_PairPlayer != "0" ? "withBet" : "")">
                    @(UserTotalBet_PairPlayer != "0" ? SampleWinPairPlayer : "x" + luckyViewModel.L9Pair.FixedPriceMultiplier.ToString("G29"))
                </p>
            }
        </div>
        
        <!-- TOKEN DISPLAY -->
        <TokenDisplay Amount="@UserTotalBet_PairPlayer" />
        @if (luckyViewModel.Token_Animation != "" && luckyViewModel.CurrentGameType == (int)Settings.L9SubBetTypes.AnypairPlayer)
        {
            <div class="additionaltokencontainer" style="--animation: @luckyViewModel.Token_Animation">
                <img src="/img/selectedToken.png" class="tokenSelectedBet" />
                <p class="selectedAmountToken">@luckyViewModel.BetAmount</p>
            </div>
        }
    </button>
}
else if (BetValueDisplay == Settings.Constants.Banker)
{
    <!-- BANKER PAIR -->
    <button style="border-radius: 44%; height: 44px;" @onclick=OnClickCallback class="@(Settings.Constants.PairBanker == WinnerResults ? "winAnyPairBanker" : SubAnyPairBanker) tieRelative col borderGold btn p-0" disabled="@isDisabled">
        <div class="d-block">
            @* <p class="smallHeader mb-1" style="font-size:14px; margin-top: 5px;">ANY</p>
            <p class="font-weight-bold" style="line-height: normal; font-size: 13px;">Any PAIR</p> *@
            <p class="font-weight-bold smallHeader mb-1" style="font-size:10px; margin-top: 2px;">
                <span>ANY</span>
                <span style="font-size:12px">PAIR</span>
            </p>
        </div>
        <div class="d-flex">
            @if (luckyViewModel.L9Pair != null)
            {
                <p style="font-size: 13px;" class="payout font-weight-bold col p-0 d-flex justify-content-center mb-0 @(UserTotalBet_PairBanker != "0" ? "withBet" : "")">
                    @(UserTotalBet_PairBanker != "0" ? SampleWinPairBanker : "x" + luckyViewModel.L9Pair.FixedPriceMultiplier.ToString("G29"))
                </p>
            }
        </div>

        <!-- TOKEN DISPLAY -->
        <TokenDisplay Amount="@UserTotalBet_PairBanker" />
        @if (luckyViewModel.Token_Animation != "" && luckyViewModel.CurrentGameType == (int)Settings.L9SubBetTypes.AnyPairBanker)
        {
            <div class="additionaltokencontainerBanker" style="--animation: @luckyViewModel.Token_Animation">
                <img src="/img/selectedToken.png" class="tokenSelectedBet" />
                <p class="selectedAmountToken">@luckyViewModel.BetAmount</p>
            </div>
        }
    </button>
}