@using static GoplayasiaBlazor.Models.Constants.Settings
<table class="maincontainer d-block rounded-3 mt-3">
    
    <tbody class="tableCon container bg-white rounded-3" style="padding-bottom: 30px;">
        <thead class="row p-0 justify-content-center">
            <tr class="d-flex headerContainer">
            <th class="status col text-center">BET</th>
            <th class="status col text-center">GAME RESULT</th>
            <th class="winStatusContainer col text-center">WIN/LOSS</th>
            </tr>
        </thead>
        @if (_compBetHistoryViewModel.GameRounds != null)
        {
            <Virtualize Items="_compBetHistoryViewModel.GameRounds" Context="_gameround">
                @*@foreach (var _gameround in _compBetHistoryViewModel.GameRounds)
            {*@
                <tr class="beHistoryBg row text-center mt-1 text-dark mr-0">
                    <td class="col m-0 p-0">
                        <div>@_gameround.GameTypeName</div>
                        <div>@_gameround.DateCreatedString</div>
                        <div>@_gameround.DateCreatedTime</div>
                        <div>@_gameround.GameRound</div>
                        <div>@_gameround.BetValue</div>
                        <div>@_gameround.BetAmount</div>
                    </td>
                    <td class="col align-items-center justify-content-center d-flex">@_gameround.GameResult</td>
                    @if (_gameround.Won)
                    {
                    <td class="WinStatus col align-items-center justify-content-center d-flex">@(Decimal.Parse(_gameround.WonAmount).ToString("N2"))</td >
                    }
                    else if (_gameround.Lost)
                    {
                        <td class="LossStatus col align-items-center justify-content-center d-flex">@(Decimal.Parse(_gameround.LostAmount).ToString("N2"))</td>
                    }
                    else if (_gameround.ConsoledAmount != "")
                    {
                        <td class="ConsoStatus col align-items-center justify-content-center d-flex">@(Decimal.Parse(_gameround.ConsoledAmount).ToString("N2")) </td>
                    }
                    else if (_gameround.RoundStatus == (int)RoundStatus.PendingResult || _gameround.RoundStatus == (int)RoundStatus.Open)
                    {
                        <td class="ConsoStatus col align-items-center justify-content-center d-flex">@Constants.PendingBets </td>
                    }
                    else if (_gameround.Cancelled || (!_gameround.Won && !_gameround.Lost && !_gameround.Cancelled))
                    {
                        <td class="col align-items-center justify-content-center d-flex">@Constants.BetReturned</td>
                    }
                </tr>
                @*}*@
            </Virtualize>
        }
        else
        {
            <span>Loading </span>
        }
    </tbody>
</table>