@page "/signup"
@page "/signup/{refkey}"

@using GoplayasiaBlazor.Models
@using GoPlayAsiaWebApp.Goplay.Shared.Popup  

<div class="maincontainer">
    <div class="innerCon row justify-content-center w-100 m-0">
        <div class="cardWidth">
            <div class="imgContainer d-flex justify-content-center">
                <img class=" img-fluid" src="/img/header-img.png" />
                <div class="breath-light1"></div>
                <div class="breath-light2"></div>
                <div class="breath-light3"></div>
                <div class="breath-light4"></div>
                <div class="breath-light5"></div>
                <div class="breath-light6"></div>
                <div class="breath-light7"></div>
                <div class="breath-light8"></div>
                <div class="breath-light9"></div>
            </div>

            <!-- START STEP 1 -->
            <div class="container p-2" hidden=@step1>
                <div class="mainContainer">
                    <form class="card-body cardbody-color p-1 mb-4">
                        <!-- MOBILE NUMBER -->
                        <div class="logInField mb-4 mt-3 eyeContainer inner-addon right-addon">
                            <span class="eye bi bi-phone"></span>
                            <input @ref="txtMobile" type="tel" class="form-control font-weight-bolder" required maxlength="11" placeholder="Mobile No: 09XX XX XXXX" @bind-value="_signupViewModel.SignupDTO.MobileNumber" @oninput="onchange_MobileNumber">
                        </div>
                        <div class="text-center label valid-msge" hidden="@hideMobile">@msgMobile</div>

                        <!-- REFERRAL KEY -->
                        <div class="logInField mb-4 mt-3 eyeContainer inner-addon right-addon">
                            <span class="eye bi bi-filetype-key"></span>
                            <input type="text" class="form-control font-weight-bolder" placeholder=" Affiliate Code (IF ANY)" @bind-value="_signupViewModel.SignupDTO.ReferralKey" @oninput="onchange_ReferralKey" @onfocusout="focusout_ReferralKey">
                        </div>
                        <div class="text-center label valid-msge" hidden="@refWarning">Referral Key is invalid</div>


                        <!-- TERMS & CONDITIONS  -->
                        <div class="form-check pl-0 text-center">
                            <div class="agree text-light" style="font-size: 14px; margin-bottom: 3px;">
                                <input class="font-weight-bolder" type="checkbox" @bind="@agreePolicy" @oninput="agreeCheckboxChanged">
                                <span>I agree to the </span>
                                <a style="color:white; font-weight: 600;" target="_blank" href="@TermsAndConditionsUrl">
                                    <span class="text-warning">Terms and Conditions </span>
                                    <span class="text-white"> & </span>
                                </a>
                                <a style="color:white; font-weight: 600" target="_blank" href="@PrivacyPolicyUrl">
                                    <span  class="text-warning"> Privacy Policy</span>
                                </a>
                                <p> <span>and I am over <b class="h5 text-warning">21</b> years of age.</span></p>
                            </div>
                        </div>

                        <!-- SIGN UP BUTTON -->
                        <div class="text-center pt-2"><button class="btn btn-color px-5 mb-3 w-100 font-weight-bolder @submitClass" disabled="@disableSubmit" @onclick="ValidateStep1">Sign Up</button></div>

                        @* <div class="prevNext text-center">
                        <div class="justify-content-center align-content-center mb-3 ">
                        <input style="max-width: 240px;" class=" nextBtn col text-light @submitClass" type="button" disabled="@disableSubmit" @onclick="ValidateStep1" value="SIGN UP" />
                        </div>
                        </div> *@

                        <!-- LOGIN -->
                        <div class="col d-flex justify-content-center mt-1 mb-4">
                            <a class="backLoginPage h6" href="/">
                                <spa class="text-white">Already registered? </spa>
                                <span class="text-success font-weight-bolder"><i class="bi bi-box-arrow-in-right fw-bold"></i> LOGIN HERE</span>
                            </a>
                        </div>
                    </form>
                </div>

                <!-- PAGCOR LOGO/FOOTER -->
                <div class="d-flex justify-content-center">
                    <img class="logo-pagcor" src="/img/FOOTER.png" alt="footer">
                </div>
            </div>
            <!-- END STEP 1 -->
            <!-- START STEP 2 -->
            <section hidden=@step2>
                <div class="container">
                    <div class="mainContainer">

                        <!-- USERNAME -->
                        <div class="form-group mb-0 ">
                            <label class="text-cecnter label">Create Username</label>
                            <div class="col p-0 d-flex justify-content-center">
                                <input @ref="txtUsername" type="text" class="form-control text-center col-9" placeholder="Username" @bind-value="_signupViewModel.SignupDTO.Username" @oninput="onchange_Username">
                            </div>
                            <span class="text-center label" hidden="@(@_signupViewModel.errUsername != "Ok"? false : true)">@_signupViewModel.errUsername</span>
                        </div>

                        <!-- PASSWORD -->
                        <div class="form-group mb-0 ">
                            <label class="text-cecnter label">Enter Password</label>
                            <div class="col p-0 d-flex justify-content-center ">
                                <input type="@showpass" class="form-control text-center col-9" placeholder="Password" @bind-value="_signupViewModel.SignupDTO.Password" @oninput="onchange_Password">
                                <span class="eye @showpassicon" @onclick="(() => ShowPassword(1))"></span>
                            </div>
                        </div>

                        <!-- CONFIRM PASSWORD -->
                        <div class="form-group mb-0 ">
                            <label class="text-cecnter label">Confirm Password</label>
                            <div class="col p-0 d-flex justify-content-center ">
                                <input type="@showpassConfirm" class="form-control text-center col-9" placeholder="Confim Password" @bind-value="_signupViewModel.SignupDTO.ConfirmPassword" @oninput="onchange_ConfirmPassword">
                                <span class="eye @showpassiconConfirm" @onclick="(() => ShowPassword(2))"></span>
                            </div>
                            <span class="text-cecnter label" hidden="@(@_signupViewModel.errPass != "Ok"? false : true)">@_signupViewModel.errPass</span>
                        </div>
                    </div>

                    <!-- LOGIN BUTTON -->
                    <div class="justify-content-center d-flex align-content-center mb-3 mt-3">
                        <input style="max-width: 240px;" class=" nextBtn col text-light @submitClass" type="button" disabled="@disbaleLogin" @onclick="Register" value="LOG IN" />
                    </div>

                    <!-- PAGCOR LOGO/FOOTER -->
                    <div class="innerContainer col mt-1">
                        <img class="footer" src="/img/FOOTER.png" />
                    </div>
                </div>
            </section>
            <!-- END STEP 2 -->
        </div>
    </div>
</div>

