@page "/notificationold"
@using GoPlayAsiaWebApp.Goplay.Games.Shared
@attribute [Authorize(Roles = "1")]
@implements IAsyncDisposable

<TopContent CreditsDisp="@_notificationViewModel._icurrentUser.CreditsDisp" />
<h3 class="d-flex justify-content-center text-light mt-2">NOTIFICATIONS</h3>
<h5 class="tapRead d-flex justify-content-center text-light mt-2"><a href="" @onclick:preventDefault @onclick='(() => _notificationViewModel.MarkAllAsRead())'>Tap to mark all as read</a></h5>
<div class="mainContainer mt-3">
    <div class="text-light">

        @if (_notificationViewModel.Notifications != null)
        {
            @* @foreach (var _notification in _notificationViewModel.Notifications)
        {*@
            <Virtualize Items="_notificationViewModel.Notifications" Context="_notification">
                <div class="setCon">
                    @_notification.Date
                    @foreach (var _notiflist in _notification.NotificationsList)
                    {
                        <div class="mesCon row text-center p-1 mt-1 text-light">
                            @if (!_notiflist.Seen)
                            {
                                <div class="col ml-2 seenMessage">
                                    <a href="" @onclick:preventDefault @onclick='(() => _notificationViewModel.SeeNotification(_notiflist.Id))'>
                                        <div>@_notiflist.Subject</div>
                                        <div>@_notiflist.Message</div>
                                        <div>@_notiflist.DateSent</div>
                                        <div><a href="" @onclick:preventDefault @onclick='(() => _notificationViewModel.SeeNotification(_notiflist.Id))'>Tap to mark as read</a></div>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="col">
                                    <div>@_notiflist.Subject</div>
                                    <div>@_notiflist.Message</div>
                                    <div>@_notiflist.DateSent</div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </Virtualize>
            @*}*@
        }
    </div>
</div>
<NavMenuBar />

@code {

}
