@page "/setting"
@page "/verifystatus"
@using GoPlayAsiaWebApp.Goplay.Games.Shared
@using GoPlayAsiaWebApp.Pages.Profile
@using GoplayasiaBlazor.Models
@using GoPlayAsiaWebApp.Goplay.Shared.Popup
@using Blazored.Typeahead

@implements IAsyncDisposable
@inject NavigationManager MyNavigationManager
@attribute [Authorize(Roles = "1")]

@* <TopContent CreditsDisp="@_settingsViewModel._icurrentUser.CreditsDisp" /> *@

@if (_settingsViewModel.UserInfo != null)
{
    @*================ Start: PLayer Profile ================*@
    <form id="edit-profile-form" class="">
        <div id="profile-container" class="container p-3">
            <p class="mb-2">
                <span class="text-muted"><i class="fa-regular fa-user"></i> Player's Name</span><br>
                <span class="fw-bold">@_settingsViewModel.UserInfo.FirstName</span>
                <span class="fw-bold">@_settingsViewModel.UserInfo.MiddleName</span>
                <span class="fw-bold">@_settingsViewModel.UserInfo.LastName</span>
            </p>
            <p class="mb-2">
                <span class="text-muted"><i class="fa-regular fa-user"></i> Username</span><br>
                <span class="fw-bold">@_settingsViewModel.UserInfo.Username</span>
            </p>
            <p class="mb-2">
                <span class="text-muted"><i class="fa-solid fa-mobile"></i> Mobile Number</span><br>
                <span class="fw-bold">@_settingsViewModel.UserInfo.MobileNumber</span>
            </p>
            <p class="mb-2">
                <span class="text-muted"><i class="fa-regular fa-calendar-days"></i> Birth Date (mm/dd/yy)</span><br>
                <span class="fw-bold">@_settingsViewModel.UserInfo.DateOfBirth?.ToString("MM") /</span>
                <span class="fw-bold">@_settingsViewModel.UserInfo.DateOfBirth?.ToString("dd") /</span>
                <span class="fw-bold">@_settingsViewModel.UserInfo.DateOfBirth?.ToString("yyyy")</span>
            </p>
            <p class="mb-2">
                <span class="text-muted"><i class="fa-regular fa-envelope"></i> Email Address</span><br>
                <input type="email" @bind-value="_settingsViewModel.UserInfo.EmailAddress" @oninput="onchange_email" id="email" class="">
                <label class="btn border-0" for="email"><span><i class="fa-solid fa-pen-to-square text-primary"></i></span></label>
            </p>
            <div class="container p-0 mb-3">
                <label class="text-muted"><i class="fa-solid fa-person-digging"></i> Nature of Work</label>
                <BlazoredTypeahead SearchMethod="SearchNatureofwork" EnableDropDown="true" TItem="NatureOfWorkModel" TValue="NatureOfWorkModel" Value="selectedNatureofwork" ValueChanged="selectedNatureOfWorChanged" ValueExpression="@(() => selectedNatureofwork)" placeholder="SELECT NATURE OF WORK">
                    <SelectedTemplate Context="NatureOfWorkId">
                        @{
                            var selectNatureofwork = LoadSelNatureOfWork(NatureOfWorkId.Id);
                            <text>@selectNatureofwork?.Name</text>
                        }
                    </SelectedTemplate>
                    <ResultTemplate Context="natureofwork">
                        @natureofwork.Name
                    </ResultTemplate>
                </BlazoredTypeahead>
            </div>
            <div class="container p-0 mb-3">
                <label class="text-muted"><i class="fa-regular fa-credit-card"></i> Source of Income</label>
                <BlazoredTypeahead SearchMethod="SearchSourcofIncome" EnableDropDown="true" TItem="SourceOfIncomeModel" TValue="SourceOfIncomeModel" Value="selectedSourceofincome" ValueChanged="selectedSourceOfIncomeChanged" ValueExpression="@(() => selectedSourceofincome)" placeholder="SELECT SOURCE OF INCOMCE">
                    <SelectedTemplate Context="SourceOfIncomeId">
                        @{
                            var selectSourceofincomce = LoadSelSourceOfIncome(SourceOfIncomeId.Id);

                            <text>@selectSourceofincomce?.Name</text>
                        }
                    </SelectedTemplate>
                    <ResultTemplate Context="sourceofincome">
                        @sourceofincome.Name
                    </ResultTemplate>
                </BlazoredTypeahead>
            </div>
            <div class="form-group">
                <label>Profile Image</label>
                <img class="img-fluid" src="@_settingsViewModel.UserInfo.ProfileImageFullPath" />
            </div>

            <div class="form-group">
                <label>Government ID</label>
                <img class="img-fluid" src="@_settingsViewModel.UserInfo.GovernmentImageFullPath" />
            </div>

            <div class="form-group">
                <label>Identification Number</label>
                <input class="form-control" type="text" value="@_settingsViewModel.UserInfo.IdentificationNumber" placeholder="ID Number" disabled>
            </div>

            <div class="col-12">
                <input class="btn btn-gpa w-100 @strDisBtnUpdateAcc" type="button" @onclick="UpdateAccount" value="Update Account" disabled="@disBtnUpdateAcc" />
                <input class="btn btn-gpa w-100 @strDisBtnUpdateProf" type="button" @onclick="UpdateProfile" value="Update Profile" disabled="@disBtnUpdateProf" />
                @* <button @onclick="UpdateAccount" disabled="@disBtnUpdateAcc" class="btn col-12 btn-gpa btn-accnt mb-2 @strDisBtnUpdateAcc">Update Account</button> *@
                @* <button @onclick="UpdateProfile" disabled="@disBtnUpdateProf" class="btn col-12 btn-gpa @strDisBtnUpdateProf">Update Profile</button> *@
                @*<input class="btn btn-danger text-light d-block w-100 mt-2" type="button" @onclick="DeactivateAccount" value="Deactivate Account"/>*@
            </div>
        </div>
    </form>
    @*================ End: PLayer Profile ================*@

    @*================ Start: Change Password ================*@
    <form id="change-password-form" class="">
        <div id="changePassword-container" class="container p-3">
            <p>
                <span class="text-muted"><i class="fa-solid fa-unlock"></i> Old Password</span><br>
                <input type="password" @bind-value="_settingsViewModel.OldPassword" id="oldPassword" class="form-check border border-1 rounded-3 w-100" required>
                <label class="btn border-0" for="oldPassword"></label>
            </p>
            <p>
                <span class="text-muted"><i class="fa-solid fa-lock"></i> New Password</span><br>
                <input type="password" minlength="6" @bind-value="_settingsViewModel.NewPassword" id="newPassword" class="form-check border border-1 rounded-3 w-100" required>
                <label class="btn border-0" for="newPassword"></label>
            </p>
            <p>
                <span class="text-muted"><i class="fa-solid fa-lock"></i> Confirmed New Password</span><br>
                <input type="password" minlength="6" @bind-value="_settingsViewModel.ConfirmNewPassword" @oninput="onchange_confirmpass" id="confirmedNewPassword" class="form-check border border-1 rounded-3 w-100" required>
                <label class="btn border-0" for="confirmedNewPassword"></label>
                <span class="errorMessage" hidden="@hideConfirmPass">@msgConfirmPass</span>
            </p>
            <div class="col-12">
                <button type="button" @onclick="UpdatePassword" value="Update Password" class="btn col-12 btn-gpa">Update Password</button>
            </div>
        </div>
    </form>
    @*================ End: Change Password ================*@

    @*================ Start: Profile Verification ================*@
    <div class="container p-3 hide">
        <p>
            <label class="text-muted" for="eMailAddress"><i class="fa-regular fa-envelope"></i> Email Address</label><br>
            <input type="email" value="" id="eMailAddress" placeholder="juandelacruz@gmail.com" class="form-check border border-1 rounded-3 w-100" required>
        </p>
        <p>
            <label class="text-muted" for="homeAddress"><i class="fa-solid fa-location-dot"></i> Address</label><br>
            <input type="text" value="" id="homeAddress" placeholder="Lot, Block, Street, Barangay, District, City" class="form-check border border-1 rounded-3 w-100" required>
        </p>
        <div class="container p-0">
            <div class="row">
                <p class="d-flex align-items-center">
                    <span class="text-muted col"><i class="fa-solid fa-paperclip"></i> Upload Valid ID</span>
                    <span class="text-primary btn col-5 view-id" @onclick="@(() => Modal.Show<SampleUploadValidID>("Guide for submitting ID"))">view sample</span>
                </p>
                <div class="col">
                    <label for="fromFile" class="form-label btn border-0 p-0 text-white"><span><i class="fa-regular fa-image"></i> From File</span></label>
                    <input type="file" class="form-control" id="fromFile" accept="image/*">
                </div>
                <div class="col">
                    <label for="fromCamera" class="form-label btn border-0 p-0 text-white"><span><i class="fa-solid fa-camera"></i> From Camera</span></label>
                    <input type="file" class="form-control" id="fromCamera" accept="image/*">
                </div>
            </div>
            <hr>
        </div>
        <div class="container p-0">
            <div class="row">
                <p class="d-flex align-items-center">
                    <span class="text-muted col"><i class="fa-solid fa-paperclip"></i> Selfie with Valid ID</span>
                    <span class="text-primary btn col-5 view-selfie" @onclick="@(() => Modal.Show<SampleUploadSelfieWithID>("Selfie with valid ID"))">view sample</span>
                </p>
                <div class="col">
                    <label for="fromFile" class="form-label btn border-0 p-0 text-white"><span><i class="fa-regular fa-image"></i> From File</span></label>
                    <input type="file" class="form-control" id="fromFile" accept="image/*">
                </div>
                <div class="col">
                    <label for="fromCamera" class="form-label btn border-0 p-0 text-white"><span><i class="fa-solid fa-camera"></i> From Camera</span></label>
                    <input type="file" class="form-control" id="fromCamera" accept="image/*">
                </div>
            </div>
        </div>
        <div class="col-12">
            <button href="#" class="btn col-12 btn-gpa">Submit Verification</button>
        </div>
    </div>
    @*================ End: Profile Verification ================*@

}
@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    private async Task logout()
    {
        var parameters = new ModalParameters();
        parameters.Add("Message", "Confirm Logout");
        var popupConfirm = popupModal.Show<PopupLogout>("", parameters, new ModalOptions() { Class = "op-modal" });
        ModalResult result = await popupConfirm.Result;
        if (result.Data != null)
        {
            if ((bool)result.Data)
            {
                await _settingsViewModel.Logout();
            }
        }
    }
}
