@using System.Collections.ObjectModel
@using GoPlayAsiaWebApp.ViewModels
@using static GoplayasiaBlazor.Models.Constants.Settings
@inject DropwinViewModel dropwinViewModel;

<section class="mainCon">
    @if (@IsPrevious && @PrevGameRound != null)
    {
        <div class="PreviousBorderTop row d-flex m-0 p-0">
            <div class="CombinationTopLabel PrevCombinationTopLabel col-6 m-0 p-0 text-light text-center">
                PREVIOUS BET ON<br />
                <div class="PrevResultValue">GAME #@PrevGameRound.RoundNumber</div>
            </div>
            <div class="CombinationTopLabel PrevCombinationTopLabel col-6 m-0 p-0 text-light text-center">
                RESULT:<br />
                <div class="PrevResultValue">@(PrevGameRound.RoundStatus == (int)RoundStatus.Cancelled ? "Cancelled" : (PrevGameRound != null ? PrevGameRound.WinningResult : ""))</div>
            </div>
        </div>
    }
    else
    {
        <div class="row d-flex m-0 p-0">
            <div class="CombinationTopLabel col-6 m-0 p-0 text-light text-left">
                SELECTED BETS
            </div>
            <div class="CombinationTopLabel col-6 m-0 p-0 text-light text-center">
                TOTAL BETS: @dropwinViewModel.TotalAccumulatedBetsString
            </div>
        </div>
    }

    <div class="row d-flex m-0 p-0">
        <div class="UserCombinationTableHeading col text-center">FIRST 2 LETTERS</div>
        <div class="UserCombinationTableHeading col text-center">FIRST 3 LETTERS</div>
        <div class="UserCombinationTableHeading col text-center">ALL 4 LETTERS</div>
    </div>

    <!--START GAME TICKET-->

    <div class="@(RoundStatusString == Constants.Open ? "ticketMainDiv":  "ticketMainDivMax")   row d-flex m-0 p-0">
        <div class="f2row col">
            @if (UserBets_F2 != null)
            {
                <div class="loopf2 myTicketsf2 text-light">
                    @foreach (var _userbets in UserBets_F2)
                    {
                        <div class="row ticketCon mb-1">
                            @if (_userbets.BetStatus == (int)BetStatus.Win)
                            {
                                <div class="ticketNumf2 col d-flex align-items-center justify-content-center" style=" color:black; background-color:#ffb400; font-weight: 600;">@_userbets.BetValue</div>
                                <div>
                                    <div class="betAmo col d-block" style=" color:black; background-color:#ffb400; font-weight: 600;">@_userbets.BetAmountDisplay</div>
                                    @* <div class="winningAmo col d-block">@_userbets.WinableAmount</div> *@
                                </div>

                            }
                            else
                            {
                                <div class="ticketNumf2 col d-flex align-items-center justify-content-center">@_userbets.BetValue</div>
                                <div>
                                    <div class="betAmo col d-block">@_userbets.BetAmountDisplay</div>
                                    @* <div class="winningAmo col d-block">@_userbets.WinableAmount</div> *@
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </div>
        <div class="f3row col">
            @if (UserBets_F3 != null)
            {
                <div class="loopf3 myTicketsf3 text-light">
                    @foreach (var _userbets in UserBets_F3)
                    {
                        <div class="row ticketCon mb-1">
                            @if (_userbets.BetStatus == (int)BetStatus.Win)
                            {
                                <div class="ticketNumf3 col d-flex align-items-center justify-content-center" style=" color:black; background-color:#ffb400; font-weight: 600;">@_userbets.BetValue</div>
                                <div>
                                    <div class="betAmo col d-block" style=" color:black; background-color:#ffb400; font-weight: 600;">@_userbets.BetAmountDisplay</div>
                                    @* <div class="winningAmo col d-block">@_userbets.WinableAmount</div> *@
                                </div>
                            }
                            else
                            {
                                <div class="ticketNumf3 col d-flex align-items-center justify-content-center">@_userbets.BetValue</div>
                                <div>
                                    <div class="betAmo col d-block">@_userbets.BetAmountDisplay</div>
                                    @* <div class="winningAmo col d-block">@_userbets.WinableAmount</div> *@
                                </div>
                            }
                        </div>

                    }
                </div>
            }

        </div>
        <div class="a4row col">
            @if (UserBets_All4 != null)
            {
                <div class="loopf4 myTicketsA4 text-light">
                    @foreach (var _userbets in UserBets_All4)
                    {

                        <div class="row ticketCon mb-1">
                            @if (_userbets.BetStatus == (int)BetStatus.Win)
                            {

                                <div class="ticketNumA4 col d-flex justify-content-center align-items-center" style=" color:black; background-color:#ffb400; font-weight: 600;">@_userbets.BetValue</div>
                                <div>
                                    <div class="betAmo d-block" style=" color:black; background-color:#ffb400; font-weight: 600;">@_userbets.BetAmountDisplay</div>
                                    @* <div class="winningAmo col d-block">@_userbets.WinableAmount</div> *@
                                </div>
                            }
                            else
                            {
                                <div class="ticketNumA4 col d-flex justify-content-center align-items-center">@_userbets.BetValue</div>
                                <div>
                                    <div class="betAmo d-block">@_userbets.BetAmountDisplay</div>
                                    @* <div class="winningAmo col d-block">@_userbets.WinableAmount</div> *@
                                </div>
                            }
                        </div>

                    }
                </div>
            }
        </div>
    </div>
    <!--END GAME TICKET-->
</section>