<table class="table">
    <thead>
        <tr>
            <th scope="col">Total Deposit</th>
            <th scope="col">Total Win</th>
            <th scope="col">Total Loss</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr for="flexCheckDefault">
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="ms-1">10,000.00</span>
            </td>
            <td>ABCD</td>
            <td>Win</td>
            <td class="text-center">
                <button @onclick="@(() => Modal.Show<GameStatisticViewDetails>("Game Statistic Details"))" class="btn viewDetails p-0 m-1">
                    <i class="fa-regular fa-eye"></i>
                </button>
                <button class="btn p-0 gpa-btn-delete m-1 delete gpa-btn-delete"> <i class="fa-regular fa-circle-xmark"></i></button>
            </td>
        </tr>
        <tr for="flexCheckDefault">
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="ms-1">10,000.00</span>
            </td>
            <td>ABCD</td>
            <td>Win</td>
            <td class="text-center">
                <button @onclick="@(() => Modal.Show<GameStatisticViewDetails>("Game Statistic Details"))" class="btn viewDetails p-0 m-1">
                    <i class="fa-regular fa-eye"></i>
                </button>
                <button class="btn p-0 gpa-btn-delete m-1 delete"> <i class="fa-regular fa-circle-xmark"></i></button>
            </td>
        </tr>
        <tr for="flexCheckDefault">
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="ms-1">10,000.00</span>
            </td>
            <td>ABCD</td>
            <td>Win</td>
            <td class="text-center">
                <button @onclick="@(() => Modal.Show<GameStatisticViewDetails>("Game Statistic Details"))" class="btn viewDetails p-0 m-1">
                    <i class="fa-regular fa-eye"></i>
                </button>
                <button class="btn p-0 gpa-btn-delete m-1 delete"> <i class="fa-regular fa-circle-xmark"></i></button>
            </td>
        </tr>
        <tr for="flexCheckDefault">
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="ms-1">10,000.00</span>
            </td>
            <td>ABCD</td>
            <td>Win</td>
            <td class="text-center">
                <button @onclick="@(() => Modal.Show<GameStatisticViewDetails>("Game Statistic Details"))" class="btn viewDetails p-0 m-1">
                    <i class="fa-regular fa-eye"></i>
                </button>
                <button class="btn p-0 gpa-btn-delete m-1 delete gpa-btn-delete"> <i class="fa-regular fa-circle-xmark"></i></button>
            </td>
        </tr>
        <tr for="flexCheckDefault">
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="ms-1">10,000.00</span>
            </td>
            <td>ABCD</td>
            <td>Win</td>
            <td class="text-center">
                <button class="btn viewDetails p-0 m-1">
                    <i class="fa-regular fa-eye"></i>
                </button>
                <button @onclick="@(() => Modal.Show<GameStatisticViewDetails>("Game Statistic Details"))" class="btn p-0 gpa-btn-delete m-1 delete"> <i class="fa-regular fa-circle-xmark"></i></button>
            </td>
        </tr>
    </tbody>
</table>
@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

}