@page "/games/dropwins5"
@using GoPlayAsiaWebApp.Games.Shared
@attribute [Authorize(Roles = "1")]
@*@implements IDisposable*@

@implements IAsyncDisposable

<GameHeader StreamId="@iDropWinS5Model.StreamId"
            RoundTimer="@iDropWinS5Model.RoundTimer"
            RoundStatusString="@iDropWinS5Model.RoundStatusString"
            RoundNumber="@iDropWinS5Model.RoundNumber"
            TimerBackground="@iDropWinS5Model.RoundStatusColor"           
            GameResultString="@iDropWinS5Model.GameResultString"
            ShowFlashing="@iDropWinS5Model.ShowFlashing"
            CreditsDisp="@iDropWinS5Model._icurrentUser.CreditsDisp"
            Token="@iDropWinS5Model.streamKey" />

<DropwinS5BettingButton GameChips="@iDropWinS5Model.GameChips" RoundStatusString="@iDropWinS5Model.RoundStatusString" IsChipsVisible="@iDropWinS5Model.IsChipsVisible" />

<DropWinS5Trends TrendsDisplay="@iDropWinS5Model.TrendsDisplay" UserBets_F2="@iDropWinS5Model.UserBets_F2" UserBets_F3="@iDropWinS5Model.UserBets_F3" UserBets_All4="@iDropWinS5Model.UserBets_All4" />
<div class="noticeMsg text-center m-0">
    <p class="red m-0" style="color: red;">Notice:</p>
    <p class="text-light m-0 pb-3">All jackpot prizes for this game are subject to net of 20% tax</p>
</div>
@code {

}










