@using GoPlayAsiaWebApp.Games.SharedCards
@using GoplayasiaBlazor.Models
@using GoplayasiaBlazor.Models.Constants
@using GoPlayAsiaWebApp.ViewModels
@using System.Collections.ObjectModel
@inject First3ViewModel first3ViewModel;

<div class="maxWidth mt-1 mb-2">

    <div class="d-flex">
        <a @onclick:preventDefault @onclick='(() => SelectView("Current"))'>
            <div class=" @(CurrView == "Current" ? "labelActive" : "label" ) mr-1">Current Bets</div>
        </a>
        @if (RoundStatusString == Settings.Constants.Open)
        {
            <a @onclick:preventDefault @onclick='(() => SelectView("Previous"))'>
                <div class=" @(CurrView == "Previous" ? "labelActive" : "label" ) ">Previous Bets</div>
            </a>
        }
    </div>
    @if (CurrView == "Current")
    {
        @if (F3UserBets != null)
        {
            <table class="col p-0">

                <tr class="d-flex pb-0 text-dark font-weight-bold" style="background-color: #dabc33;border:none; ">
                    <td class="col-5 p-0 currentGameType pl-1 font-weight-bold" style=" color: black !important;font-size: 14px;">Game Type</td>
                    <td class="col-3 p-0 text-center currentBetAmount font-weight-bold" style=" color: black !important;font-size: 14px;">Bet</td>
                    <td class="col-4 text-right  CurrentWinningAmount font-weight-bold" style=" color: black !important;font-size: 14px;">Win/Lose</td>
                </tr>


                @foreach (var userBets in F3UserBets)
                {
                    <tr class="d-flex">
                        <td class="col-5 p-0 currentGameType pl-1" style="font-size : 12px;">@userBets.BetValue</td>
                        @if (RoundStatusString == Settings.Constants.Closed)
                        {
                            <td class="col-3 p-0 text-center currentBetAmount @(@userBets.BetStatus is null ? "defaultColor" : "") @(@userBets.BetStatus == 1 ? "losingAmountRed" : "")
                            @(@userBets.BetStatus == 2 ? "winningAmountGreen" : "") @(@userBets.BetStatus == 4 ? "betsReturned" : "") ">
                                @userBets.BetAmountDisplay
                            </td>
                        }
                        else
                        {
                            <td class="col-3 p-0 text-center currentBetAmount">@userBets.BetAmountDisplay</td>
                        }
                        @if (RoundStatusString == Settings.Constants.Closed)
                        {
                            <td class="col-4 text-right  CurrentWinningAmount" style="font-size : 12px;">
                                <span class="@(@userBets.BetStatus is null ? "defaultColor" : "") @(@userBets.BetStatus == 1 ? "losingAmountRed" : "")
                                         @(@userBets.BetStatus == 2 ? "winningAmountGreen" : "") @(@userBets.BetStatus == 4 ? "betsReturned" : "") ">
                                    @(
                                        (userBets.BetStatus == 1 || userBets.BetStatus == 4 ? userBets.BetAmount?.ToString("N2") : userBets.Winnings?.ToString("N2"))
                                        )
                                </span>
                            </td>
                        }
                        else
                        {
                            <td class="col-4 text-right  CurrentWinningAmount" style="font-size : 12px;">
                                <span class="@(@userBets.BetStatus is null ? "defaultColor" : "") @(@userBets.BetStatus == 1 ? "losingAmountRed" : "")
                                         @(@userBets.BetStatus == 2 ? "winningAmountGreen" : "") @(@userBets.BetStatus == 4 ? "betsReturned" : "") ">
                                    @(
                                        (userBets.BetStatus == 1 || userBets.BetStatus == 4 ? userBets.BetAmount?.ToString("N2") : userBets.Winnings?.ToString("N2"))
                                        )
                                </span>
                            </td>
                        }

                    </tr>
                }

            </table>
        }
    }

    @if (CurrView == "Previous" && RoundStatusString == Settings.Constants.Open)
    {
        @if (F3PreviousBets != null)
        {
            <div class=" pb-0 d-flex font-weight-bolder" style="background-color: #dabc33;">
                <div class="col-2 p-0 currentGameType pl-1 " style=" color: black !important;font-size: 14px;">Game</div>
                <div class="col p-0 text-center" style=" color: black !important;font-size: 14px; margin-right: 4px;">Bet</div>
                <div class="col text-right p-0  " style=" color: black !important;font-size: 14px;">Gold | Silver</div>
                <div class="col text-right p-0  " style=" color: black !important;font-size: 14px;  margin-right: 4px;">Net/Win</div>
            </div>

            <table class="col p-0">



                @foreach (var userBets in F3PreviousBets)
                {
                    <tr class="">

                        <td class="col-3 p-0 " style="font-size: 10px;">
                            <span class="text-light">Round </span> @userBets.GameRound.RoundNumber <br />
                            <span class="text-light">Bet On</span><br /> @userBets.BetValue
                        </td>

                        <td class="col-3 p-0 text-center">@userBets.BetAmount</td>
                        @if (userBets.GameRound.RoundStatus == (int)Settings.RoundStatus.Cancelled)
                        {
                            <td class="col  text-center  ">@Settings.Constants.Cancelled</td>

                        }
                        else
                        {
                            <td class="col p-0 mr-1 ml-1 text-center  ">
                                <div class="defaultColor d-flex justify-content-center" style="font-size: 11px">
                                    <div class="col p-0 d-flex" style="background-color: #a58f12; margin-right: 3px; max-width: fit-content ">
                                        <div class="m-1">
                                            <MainCardViewer CardToShow="@userBets.GameRound.ValACard1" />
                                        </div>
                                        <div class="m-1">
                                            <MainCardViewer CardToShow="@userBets.GameRound.ValACard2" />

                                        </div>
                                        <div class="m-1">
                                            <MainCardViewer CardToShow="@userBets.GameRound.ValACard3" />
                                        </div>

                                    </div>
                                    <div class="col p-0 d-flex" style="background-color: #28355b; max-width: fit-content ">
                                        <div class="m-1">
                                            <MainCardViewer CardToShow="@userBets.GameRound.ValBCard1" />
                                        </div>
                                        <div class="m-1">
                                            <MainCardViewer CardToShow="@userBets.GameRound.ValBCard2" />
                                        </div>
                                        <div class="m-1" style="font-size: 15px !important;">
                                            <MainCardViewer CardToShow="@userBets.GameRound.ValBCard3" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                        }
                        <td class="col p-0 text-center currentBetAmount">
                            <span class="@(@userBets.BetStatus is null ? "defaultColor" : "") @(@userBets.BetStatus == 1 ? "losingAmountRed" : "")
                                         @(@userBets.BetStatus == 2 ? "winningAmountGreen" : "") @(@userBets.BetStatus == 4 ? "betsReturned" : "") ">
                                @((userBets.BetStatus == 1 || userBets.BetStatus == 4 ? userBets.BetAmount?.ToString("N2") : userBets.Winnings?.ToString("N2")))
                            </span>
                        </td>


                    </tr>
                }

            </table>
        }
    }

</div>

@code {

    [Parameter] public ObservableCollection<F3BetModel> F3UserBets { get; set; }
    [Parameter] public ObservableCollection<F3BetModel> F3PreviousBets { get; set; }

    [Parameter] public string RoundStatusString { get; set; } = "";
    [Parameter] public string CurrView { get; set; } = "Current";

    public async Task SelectView(String IView)
    {
        CurrView = IView;
        if (IView == "Previous")
        {
            await first3ViewModel.F3GetPreviousBets();
        }
    }
}