@attribute [Authorize(Roles = "1")]
@page "/VerifyReg"

@using Blazored.Typeahead
@using GoPlayAsiaWebApp.Pages.Profile
@using GoplayasiaBlazor.Models
@using GoPlayAsiaWebApp.Goplay.Shared.Popup

<section class="container-fluid pt-5">
    <div class="transparentBox">

        @*=========== Start: Step 1 Account Verification ===========*@
        <EditForm Model="@SignupDTO" OnValidSubmit="@ValidateStep1" autocomplete="off">
            <DataAnnotationsValidator />
            <div class="Step1 box" hidden="@step1">
                <div class="main">
                    <h5 class="mb-1 text-center">VERIFICATION</h5>
                    <div class="form-group m-0">
                        <p class="text-muted">First Name<span class="text-danger">*</span></p>
                        <input class="form-control mt-0" type="text" placeholder="First Name" @bind-value="SignupDTO.FirstName">
                    </div>
                    <div class="form-group">
                        <p class="text-muted">Middle Name</p>
                        <input class="form-control" type="text" placeholder="Midde Name" @bind-value="SignupDTO.MiddleName">
                    </div>
                    <div class="form-group">
                        <p class="text-muted">Last Name<span class="text-danger">*</span></p>
                        <input class="form-control" type="text" placeholder="Last Name" @bind-value="SignupDTO.LastName">
                    </div>
                    <div class="form-group mb-2">
                        <p class="text-muted">Date of Birth (mm/dd/yyyy)<span class="text-danger">*</span></p>
                        <div class="dateOfBirth row text-center">
                            <input class="form-control col m-1  text-center" type="text" placeholder="mm" onchange="@onchange_bdmonth" value="@SignupDTO.Month" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" oninput="javascript: if (this.value.length > 2){ this.value = this.value.slice(0, 2)};">
                            <input class="form-control col m-1  text-center" type="text" placeholder="dd" onchange="@onchange_bdday" value="@SignupDTO.Day" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" oninput="javascript: if (this.value.length > 2){ this.value = this.value.slice(0, 2)};">
                            <input class="form-control col m-1  text-center" type="text" placeholder="yyyy" @bind-value="SignupDTO.Year" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" oninput="javascript: if (this.value.length > 4){ this.value = this.value.slice(0, 4)};">
                        </div>
                    </div>
                    <p><span class="text-muted">Selfie with Valid ID<span class="text-danger">*</span></span></p>
                    <div class="container p-0 border rounded-3 mb-3">
                        <p>
                            <span class="text-primary btn view-selfie" @onclick="@(() => Modal.Show<SampleUploadSelfieWithID>("Selfie with valid ID"))"><i class="fa-solid fa-eye"></i> View sample</span>
                        </p>
                        <div class="container-fluid">
                            @if (!string.IsNullOrEmpty(ProfileImageUri))
                            {
                                <div class="container-fluid mb-2">
                                    <img src="@ProfileImageUri" class="img w-100 img-fluid mb-3" />
                                </div>
                            }
                            <div class="d-flex">
                                <div class="col text-center">
                                    <label for="profcameraupload" class="form-label btn border-0 p-0 text-dark"><span class="nextBtn p-2"><i class="fa-regular fa-image"></i> From File</span></label>
                                    <InputFile OnChange="@LoadProfileImage" capture="user" id="profcameraupload" class="sr-only" accept="image/*" />
                                </div>
                                <div class="col text-center">
                                    <label for="proffileupload" class="form-label btn border-0 p-0 text-dark"><span class="nextBtn p-2"><i class="fa-solid fa-camera"></i> Use Camera</span></label>
                                    <InputFile OnChange="@LoadProfileImage" class="sr-only" id="proffileupload" accept="image/*" />
                                </div>
                            </div>
                        </div>
                        @if (progress != null)
                        {
                            <div class="d-flex align-items-center justify-content-center">
                                <progress class="p-0" value="@progress.UploadedBytes" max="@progress.Size"></progress><span class="text-dark m-0 p-0">@progress.UploadedPercentage.ToString("")%</span>
                            </div>
                        }
                    </div>

                    <div class="prevNext d-flex mt-4 align-items-center">
                        <div class="col pl-0">
                            <a href="/credit/withdraw" class="nextBtn col text-decoration-none btn">
                                <span>Back to Wallet</span>
                            </a>
                        </div>
                        <div class="col pl-0 text-end">
                            <input class="nextBtn col" type="button" @onclick="ValidateStep1" value="NEXT" />
                        </div>
                    </div>
                </div>
            </div>
            <ValidationSummary />
        </EditForm>
        @*=========== End: Step 1 Account Verification ===========*@

        @*=========== Start: Step 2 Account Verification ===========*@
        <EditForm Model="@SignupDTO" OnValidSubmit="@ValidateStep2">
            <DataAnnotationsValidator />
            <div class="Step2 box" hidden="@step2">
                <div class="main">
                    <h5 class="text-center">ACCOUNT INFORMATION</h5>
                </div>
                <h6 class="text-light">PERSONAL INFO</h6>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Email Address</p>
                    <input class="form-control" type="email" placeholder="Email Address(Optional)" @bind-value="SignupDTO.EmailAddress" @oninput="onchange_txtEmail">
                    <span class="errorMessage" hidden="@(@_verifyRegistrationViewModel.errEmail != "Ok"? false : true)">@_verifyRegistrationViewModel.errEmail</span>
                </div>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Place of Birth</p>
                    <input class="form-control" type="text" placeholder="PLACE OF BIRTH" @bind-value="SignupDTO.PlaceOfBirth">
                </div>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Gender <span class="text-danger fw-bold">*</span></p>
                    <GenderSelect @bind-Item="@SignupDTO.Gender" />
                </div>
                <div class="form-group mt-2 mb-1">
                    <p class="font-weight-bold titleHolder">Nationality <span class="text-danger fw-bold">*</span></p>
                    <div class="form-group" style="background-color: white; border-radius: 5px;">
                        <BlazoredTypeahead SearchMethod="SearchNationality" @bind-Value="selectedNationality" placeholder="Select Nationality">
                            <SelectedTemplate Context="NationalityId">
                                @NationalityId.Name
                            </SelectedTemplate>
                            <ResultTemplate Context="nationality">
                                @nationality.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>
                    </div>
                </div>
                <h6 class="text-muted mt-3">CURRENT ADDRESS</h6>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Home Address <span class="text-danger fw-bold">*</span></p>
                    <input class="form-control" type="text" placeholder="Home Address" @bind-value="SignupDTO.CurrentStreet">
                </div>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">City/Municipality <span class="text-danger fw-bold">*</span></p>
                    <div class="citySelector mt-1" style="background-color: white; border-radius: 5px;">
                        <BlazoredTypeahead SearchMethod="SearchCity" TItem="CityModel" TValue="CityModel" Value="selectedCurrCity" ValueChanged="selectedCurrCityChanged" ValueExpression="@(() => selectedCurrCity)" placeholder="Select Current City">
                            @*@bind-Value="selectedCurrCity"*@
                            <SelectedTemplate Context="CurrentCityId">
                                @{
                                    var selectCurrCity = LoadSelCurrCity(CurrentCityId.Id);

                                    <text>@selectCurrCity?.Name</text>
                                }
                            </SelectedTemplate>
                            <ResultTemplate Context="currentcity">
                                @currentcity.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>
                    </div>
                </div>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Province <span class="text-danger fw-bold">*</span></p>
                    <input class="form-control" type="text" disabled value="@SignupDTO.CurrentProvince">
                </div>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Region <span class="text-danger fw-bold">*</span></p>
                    <input class="form-control" type="text" disabled value="@SignupDTO.CurrentRegion">
                </div>
                @* <======= PREVIOUS & NEXT BUTTON =======*@
                <div class="prevNext d-flex mt-4">
                    <div class="col pl-0">
                        <input class="nextBtn col" type="button" @onclick="ShowStep1" value="BACK" />
                    </div>
                    <div>
                        <input class="nextBtn col" type="button" @onclick="ValidateStep2" value="NEXT" />
                    </div>
                </div>
            </div>
            <ValidationSummary />
        </EditForm>
        @*=========== End: Step 2 Account Verification ===========*@


        @*=========== Start: Step 3 Account Verification ===========*@
        <EditForm Model="@SignupDTO" OnValidSubmit="@ValidateStep3">
            <DataAnnotationsValidator />
            <div class="Step3 box" hidden="@step3">
                <div class="main">
                    <h5 class="text-center">ACCOUNT INFORMATION(PROFILE)</h5>
                </div>
                <div class="form-group">
                    <p class="text-muted">Last Name<span class="text-danger">*</span></p>
                    <input class="form-control" type="text" placeholder="Last Name" @bind-value="SignupDTO.LastName">
                </div>
                <div class="form-group mt-2">
                    <p class="text-muted">Nature of Work<span class="text-danger">*</span></p>
                    <div class="form-group" style="background-color: white; border-radius: 5px;">
                        <BlazoredTypeahead SearchMethod="SearchNatureofwork" EnableDropDown="true" TItem="NatureOfWorkModel" TValue="NatureOfWorkModel" Value="selectedNatureofwork" ValueChanged="selectedNatureOfWorChanged" ValueExpression="@(() => selectedNatureofwork)" placeholder="SELECT NATURE OF WORK">
                            <SelectedTemplate Context="NatureOfWorkId">
                                @{
                                    var selectNatureofwork = LoadSelNatureOfWork(NatureOfWorkId.Id);

                                    <text>@selectNatureofwork?.Name</text>
                                }
                            </SelectedTemplate>
                            <ResultTemplate Context="natureofwork">
                                @natureofwork.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>
                    </div>
                </div>
                <div hidden="@hideOtherNatureOfWOrk">
                    <div class="form-group mt-2">
                        <p class="font-weight-bold titleHolder">Specify</p>
                        <div>
                            <input class="form-control" type="text" placeholder="Other Nature of Work" @bind-value="@SignupDTO.OtherNatureOfWork" aria-label="default input example">
                        </div>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <p class="text-muted">Source of Income<span class="text-danger">*</span></p>
                    <div class="form-group" style="background-color: white; border-radius: 5px;">
                        <BlazoredTypeahead SearchMethod="SearchSourcofIncome" EnableDropDown="true" TItem="SourceOfIncomeModel" TValue="SourceOfIncomeModel" Value="selectedSourceofincome" ValueChanged="selectedSourceOfIncomeChanged" ValueExpression="@(() => selectedSourceofincome)" placeholder="SELECT SOURCE OF INCOMCE">
                            <SelectedTemplate Context="SourceOfIncomeId">
                                @{
                                    var selectSourceofincomce = LoadSelSourceOfIncome(SourceOfIncomeId.Id);

                                    <text>@selectSourceofincomce?.Name</text>
                                }
                            </SelectedTemplate>
                            <ResultTemplate Context="sourceofincome">
                                @sourceofincome.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>
                    </div>
                </div>
                <div hidden="@hideOtherSourceOfIncome">
                    <div class="form-group mt-2">
                        <p class="font-weight-bold titleHolder">Specify</p>
                        <div>
                            <input class="form-control" type="text" placeholder="Other Source of Income" @bind-value="@SignupDTO.OtherSourceOfIncome" aria-label="default input example">
                        </div>
                    </div>
                </div>
                @* <====== GOVERNMENT ID ======*@
                <div class="container p-0 border rounded-3 mb-3">
                    <p class="text-muted">Upload Government ID<span class="text-danger">*</span></p>
                    <p>
                        <span class="text-primary btn view-selfie" @onclick="@(() => Modal.Show<SampleUploadValidID>("Selfie with valid ID"))"><i class="fa-solid fa-eye"></i> View sample</span>
                    </p>
                    <div class="container-fluid">
                        @if (!string.IsNullOrEmpty(IDImageUri))
                        {
                            <div class="container-fluid mb-2">
                                <img src="@IDImageUri" class="img w-100 img-fluid mb-3" />
                            </div>
                        }
                        <div class="d-flex">
                            <div class="col text-center">
                                <label for="govfileupload" class="form-label btn border-0 p-0 text-dark"><span class="nextBtn p-2"><i class="fa-regular fa-image"></i> From File</span></label>
                                <InputFile accept="image/*" OnChange="@LoadIDImage" id="govfileupload" class="sr-only" />
                            </div>
                            <div class="col text-center">
                                <label for="govcameraupload" class="form-label btn border-0 p-0 text-dark"><span class="nextBtn p-2"><i class="fa-solid fa-camera"></i> Use Camera</span></label>
                                <InputFile OnChange="@LoadIDImage" id="govcameraupload" capture="environment" accept="image/*" class="sr-only" />
                            </div>
                        </div>
                    </div>

                    @if (progressid != null)
                    {
                        <div class="d-flex align-items-center justify-content-center">
                            <progress class="p-0" value="@progressid.UploadedBytes" max="@progressid.Size"></progress>
                            <span class="text-dark m-0 p-0">@progressid.UploadedPercentage.ToString("")%</span>
                            @*(@FormatBytes(progressid.UploadedBytes) / @FormatBytes(progressid.Size))*@
                        </div>
                    }
                </div>

                <div class="form-group m-0">
                    <p class="text-muted">Government ID Number<span class="text-danger">*</span></p>
                    <input class="form-control" type="text" placeholder="Government ID Number" @bind-value="SignupDTO.IdentificationNumber">
                </div>

                @* <======= PREVIOUS & NEXT BUTTON =======*@
                <div class="prevNext d-flex mt-4">
                    <div class="col pl-0">
                        <input class="nextBtn col" type="button" @onclick="ShowStep2" value="BACK" />
                    </div>
                    <div>
                        <input class="nextBtn col" type="button" @onclick="ValidateStep3" value="NEXT" />
                    </div>
                </div>
            </div>
            <ValidationSummary />
        </EditForm>
        @*=========== Start: Step 3 Account Verification ===========*@
    </div>
</section>
@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
}
