@attribute [Authorize(Roles = "1")]
@page "/VerifyReg"

@using Blazored.Typeahead
@using GoPlayAsiaWebApp.Pages.Profile
@using GoplayasiaBlazor.Models
@using GoPlayAsiaWebApp.Goplay.Shared.Popup

<section class="container-fluid pt-5 mt-2">
    <div class="transparentBox">

        @*=========== Start: Step 1 Account Verification ===========*@
        <EditForm Model="@SignupDTO" OnValidSubmit="@ValidateStep1" autocomplete="off">
            <DataAnnotationsValidator />
            <div class="Step1 box" hidden="@step1">
                <div class="main">
                    <h5 class="mb-1 text-center">VERIFICATION</h5>
                    <div class="form-group m-0">
                        <p class="text-muted">First Name<span class="text-danger">*</span></p>
                        <input class="form-control mt-0" type="text" placeholder="First Name" @bind-value="SignupDTO.FirstName">
                    </div>
                    <div class="form-group">
                        <p class="text-muted">Middle Name</p>
                        <input class="form-control" type="text" placeholder="Midde Name" @bind-value="SignupDTO.MiddleName">
                    </div>
                    <div class="form-group">
                        <p class="text-muted">Last Name<span class="text-danger">*</span></p>
                        <input class="form-control" type="text" placeholder="Last Name" @bind-value="SignupDTO.LastName">
                    </div>
                    <div class="form-group mb-2">
                        <p class="text-muted">Date of Birth (mm/dd/yyyy)<span class="text-danger">*</span></p>
                        <div class="dateOfBirth row text-center">
                            <input class="form-control col m-1  text-center" type="text" placeholder="mm" onchange="@onchange_bdmonth" value="@SignupDTO.Month" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" oninput="javascript: if (this.value.length > 2){ this.value = this.value.slice(0, 2)};">
                            <input class="form-control col m-1  text-center" type="text" placeholder="dd" onchange="@onchange_bdday" value="@SignupDTO.Day" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" oninput="javascript: if (this.value.length > 2){ this.value = this.value.slice(0, 2)};">
                            <input class="form-control col m-1  text-center" type="text" placeholder="yyyy" @bind-value="SignupDTO.Year" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" oninput="javascript: if (this.value.length > 4){ this.value = this.value.slice(0, 4)};">
                        </div>
                    </div>
                    <p><span class="text-muted">Selfie with Valid ID<span class="text-danger">*</span></span></p>
                    <div class="container p-0 border rounded-3 mb-3">
                        <p>
                            <span class="text-primary btn view-selfie" @onclick="@(() => Modal.Show<SampleUploadSelfieWithID>("Selfie with valid ID"))"><i class="fa-solid fa-eye"></i> view sample</span>
                        </p>
                        <div class="d-flex">
                            <div class="col text-center">
                                <label for="profcameraupload" class="form-label btn border-0 p-0 text-dark"><span><i class="fa-regular fa-image"></i> From File</span></label>
                                <InputFile OnChange="@LoadProfileImage" capture="user" id="profcameraupload" class="sr-only" accept="image/*" />
                            </div>
                            <div class="col text-center">
                                <label for="proffileupload" class="form-label btn border-0 p-0 text-dark"><span><i class="fa-solid fa-camera"></i> From Camera</span></label>
                                <InputFile OnChange="@LoadProfileImage" class="sr-only" id="proffileupload" accept="image/*" />
                            </div>
                        </div>
                        @if (progress != null)
                        {
                            <div class="d-flex align-items-center justify-content-center">
                                <progress class="p-0" value="@progress.UploadedBytes" max="@progress.Size"></progress><span class="text-dark m-0 p-0">@progress.UploadedPercentage.ToString("")%</span>
                            </div>
                        }
                    </div>

                    <!-- PROFILE IMAGE -->
                    @*  <div class="form-group">
                    <p class="font-weight-bold titleHolder">Upload Profile Photo*</p>
                    <div class="profilePic mb-2 img-fluid">
                    <img src="@ProfileImageUri" class="w-100 h-100" />
                    <div class="justify-content-center uploadCameraBtn">
                    <div class="d-flex">
                    <label for="profcameraupload" class=" input-label  mr-1 mb-0"><i class="bi bi-camera-fill mr-1"></i>Use Camera</label>
                    <InputFile accept="image/*" OnChange="@LoadProfileImage" capture="user" id="profcameraupload" class="sr-only" />
                    <label for="proffileupload" class="input-label mb-0 "><i class="bi bi-image-fill mr-1"></i>From Library</label>
                    <InputFile accept="image/*" OnChange="@LoadProfileImage" id="proffileupload" class="sr-only" />
                    </div>
                    @if (progress != null)
                    {
                    <div>
                    <progress class="p-0" value="@progress.UploadedBytes" max="@progress.Size"></progress><span class="text-light m-0 p-0">@progress.UploadedPercentage.ToString("")%</span>
                    </div>
                    }
                    </div>
                    </div>
                    </div> *@
                </div>

                <!-- NEXT BUTTON -->
                <div class="prevNext d-block justify-content-center align-content-center mb-3 p-0">
                    <div class="d-flex col justify-content-center align-content-center mb-3">
                        <input class="nextBtn col-8" type="button" @onclick="ValidateStep1" value="NEXT" />
                    </div>
                    <div class="align-content-center d-flex  text-center">
                        <a href="/credit/withdraw" class="backLoginPage" style="margin: 0 auto; color:#6e182c; ">
                            <i class="fa-solid fa-arrow-left"></i>
                            <span>Back to Wallet Page</span>
                        </a>
                    </div>
                </div>
            </div>
            <ValidationSummary />
        </EditForm>
        @*=========== End: Step 1 Account Verification ===========*@

        @*=========== Start: Step 2 Account Verification ===========*@
        <EditForm Model="@SignupDTO" OnValidSubmit="@ValidateStep2">
            <DataAnnotationsValidator />
            <div class="Step2 box" hidden="@step2">
                <div class="main">
                    <h5 class="text-center">ACCOUNT INFORMATION</h5>
                </div>
                <h6 class="text-light">PERSONAL INFO</h6>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Email Address</p>
                    <input class="form-control" type="email" placeholder="Email Address(Optional)" @bind-value="SignupDTO.EmailAddress" @oninput="onchange_txtEmail">
                    <span class="errorMessage" hidden="@(@_verifyRegistrationViewModel.errEmail != "Ok"? false : true)">@_verifyRegistrationViewModel.errEmail</span>
                </div>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Place of Birth</p>
                    <input class="form-control" type="text" placeholder="PLACE OF BIRTH" @bind-value="SignupDTO.PlaceOfBirth">
                </div>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Gender*</p>
                    <GenderSelect @bind-Item="@SignupDTO.Gender" />
                </div>
                <div class="form-group mt-2 mb-1">
                    <p class="font-weight-bold titleHolder">Nationality*</p>
                    <div class="form-group" style="background-color: white; border-radius: 5px;">
                        <BlazoredTypeahead SearchMethod="SearchNationality" @bind-Value="selectedNationality" placeholder="Select Nationality">
                            <SelectedTemplate Context="NationalityId">
                                @NationalityId.Name
                            </SelectedTemplate>
                            <ResultTemplate Context="nationality">
                                @nationality.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>
                    </div>
                </div>
                <h6 class="text-muted mt-3">CURRENT ADDRESS</h6>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Home Address*</p>
                    <input class="form-control" type="text" placeholder="Home Address" @bind-value="SignupDTO.CurrentStreet">
                </div>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">City/Municipality*</p>
                    <div class="citySelector mt-1" style="background-color: white; border-radius: 5px;">
                        <BlazoredTypeahead SearchMethod="SearchCity" TItem="CityModel" TValue="CityModel" Value="selectedCurrCity" ValueChanged="selectedCurrCityChanged" ValueExpression="@(() => selectedCurrCity)" placeholder="Select Current City">
                            @*@bind-Value="selectedCurrCity"*@
                            <SelectedTemplate Context="CurrentCityId">
                                @{
                                    var selectCurrCity = LoadSelCurrCity(CurrentCityId.Id);

                                    <text>@selectCurrCity?.Name</text>
                                }
                            </SelectedTemplate>
                            <ResultTemplate Context="currentcity">
                                @currentcity.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>
                    </div>
                </div>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Province*</p>
                    <input class="form-control" type="text" disabled value="@SignupDTO.CurrentProvince">
                </div>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Region*</p>
                    <input class="form-control" type="text" disabled value="@SignupDTO.CurrentRegion">
                </div>
            </div>
            <ValidationSummary />
        </EditForm>
        @*=========== End: Step 2 Account Verification ===========*@


        @*=========== Start: Step 3 Account Verification ===========*@
        <EditForm Model="@SignupDTO" OnValidSubmit="@ValidateStep3">
            <DataAnnotationsValidator />
            <div class="Step3 box" hidden="@step3">
                <div class="main">
                    <h4 class="text-center font-weight-bold mb-4" style="color: #e5e2e2;; ">VERIFICATION</h4>
                    <h5>ACCOUNT INFORMATION (PROFILE)</h5>
                </div>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Nature of Work*</p>
                    <div class="form-group" style="background-color: white; border-radius: 5px;">
                        <BlazoredTypeahead SearchMethod="SearchNatureofwork" EnableDropDown="true" TItem="NatureOfWorkModel" TValue="NatureOfWorkModel" Value="selectedNatureofwork" ValueChanged="selectedNatureOfWorChanged" ValueExpression="@(() => selectedNatureofwork)" placeholder="SELECT NATURE OF WORK">
                            <SelectedTemplate Context="NatureOfWorkId">
                                @{
                                    var selectNatureofwork = LoadSelNatureOfWork(NatureOfWorkId.Id);

                                    <text>@selectNatureofwork?.Name</text>
                                }
                            </SelectedTemplate>
                            <ResultTemplate Context="natureofwork">
                                @natureofwork.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>
                    </div>
                </div>
                <div hidden="@hideOtherNatureOfWOrk">
                    <div class="form-group m-0">
                        <p class="font-weight-bold titleHolder">Specify</p>
                        <div>
                            <input class="form-control" type="text" placeholder="Other Nature of Work" @bind-value="@SignupDTO.OtherNatureOfWork" aria-label="default input example">
                        </div>
                    </div>
                </div>
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Source of Income*</p>
                    <div class="form-group" style="background-color: white; border-radius: 5px;">
                        <BlazoredTypeahead SearchMethod="SearchSourcofIncome" EnableDropDown="true" TItem="SourceOfIncomeModel" TValue="SourceOfIncomeModel" Value="selectedSourceofincome" ValueChanged="selectedSourceOfIncomeChanged" ValueExpression="@(() => selectedSourceofincome)" placeholder="SELECT SOURCE OF INCOMCE">
                            <SelectedTemplate Context="SourceOfIncomeId">
                                @{
                                    var selectSourceofincomce = LoadSelSourceOfIncome(SourceOfIncomeId.Id);

                                    <text>@selectSourceofincomce?.Name</text>
                                }
                            </SelectedTemplate>
                            <ResultTemplate Context="sourceofincome">
                                @sourceofincome.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>
                    </div>
                </div>
                <div hidden="@hideOtherSourceOfIncome">
                    <div class="form-group m-0">
                        <p class="font-weight-bold titleHolder">Specify</p>
                        <div>
                            <input class="form-control" type="text" placeholder="Other Source of Income" @bind-value="@SignupDTO.OtherSourceOfIncome" aria-label="default input example">
                        </div>
                    </div>
                </div>
                <!-- GOVERNMENT ID -->
                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Upload Government ID*</p>
                    <div class="govId mb-2 img-fluid">
                        <div class="justify-content-center uploadCameraBtn">
                            <label for="govcameraupload" class="input-label  mb-0"><i class="bi bi-camera-fill mr-1 "></i> Use Camera</label>
                            <InputFile accept="image/*" OnChange="@LoadIDImage" capture="environment" id="govcameraupload" class="sr-only" />
                            <label for="govfileupload" class="input-label  mb-0"><i class="bi bi-image-fill mr-1"></i>From Library</label>
                            <InputFile accept="image/*" OnChange="@LoadIDImage" id="govfileupload" class="sr-only" />
                            @if (progressid != null)
                            {
                                <div>
                                    <progress value="@progressid.UploadedBytes" max="@progressid.Size"></progress>@progressid.UploadedPercentage.ToString("")%
                                    @*(@FormatBytes(progressid.UploadedBytes) / @FormatBytes(progressid.Size))*@
                                </div>
                            }
                        </div>
                        <img src="@IDImageUri" class="w-100 h-100" />
                    </div>
                </div>

                <div class="form-group m-0">
                    <p class="font-weight-bold titleHolder">Government ID Number*</p>
                    <input class="form-control" type="text" placeholder="Government ID Number" @bind-value="SignupDTO.IdentificationNumber">
                </div>
                <div class="prevNext d-flex mt-4 pb-2">
                    <div class="col pl-0">
                        <input class="LoginPage" type="button" @onclick="ShowStep2" value="< BACK" />
                    </div>
                    <div>
                        <input class="nextBtn" type="button" @onclick="ValidateStep3" value="SUBMIT" />
                    </div>
                </div>
            </div>
            <ValidationSummary />
        </EditForm>
        @*=========== Start: Step 3 Account Verification ===========*@
    </div>
</section>
@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
}
